.cable-networks-page
	.head-block
		background-image url(../../static/img/content/cable-networks-bg.png)
	.head-block__content
		justify-content center
	.head-block__slider
		width 100%
	.js-slide__content
		width 100%
		margin-bottom 0
		padding 60px

.cable-networks__content
	display flex
	justify-content space-between

.cable-networks__titles
	display flex
	justify-content space-between

.cable-networks__list
	width 573px

.cable-networks__titles
	margin-bottom 30px
	p
		font-family boldFont
		&:first-child
			min-width 282px
		&:last-child
			margin-right 50px


.cable-networks__list-item
	display flex
	justify-content space-between
	align-items center
	width 100%
	margin-bottom 16px
	.section-form__title
		min-width 282px
	&:last-child
		margin-bottom 0

.cable-networks__endprice
	margin-top 30px

.cable-networks__sum
	margin-left 50px
	font-family mainFont

.cable-networks__form
	width 531px
	.section-form__info
		margin 60px 0
	.section-form__input
		margin-bottom 40px
		&:last-child
			margin-bottom 0
	.btn
		width 100%