.head-block
	background-image url(../../static/img/content/video-bg.png)
	background-size cover
	background-position center

.head-block__content
	display flex
	align-items center
	justify-content space-between
	height 1080px
	padding-top 159px

.head-block__slider
	display flex
	align-items center
	position relative
	height 100%
	.slick-dots
		max-width 666px
		bottom -145px
		left 50%
		transform translateX(-50%)

.js-slider
	width 666px

.js-slide__content
	margin-bottom 78px

.js-slide__text
	margin-bottom 48px
	h1
		margin-bottom 42px
	p 
		width 613px

.js-slide__item
	display flex
	align-items center
	margin-bottom 23px
	p
		margin-left 14px

.js-slide__btn
	margin-top 50px
	button
		margin-right 50px
		&:last-child
			margin-right 0

.js-slider__next,
.js-slider__prev
	position absolute
	bottom 60px
	border 1px solid #ffffff
	z-index 5
	svg
		fill #ffffff

.js-slider__next
	right 13px
.js-slider__prev
	left 3px

.head-form
	width 43%
	height 860px
	padding 60px
	border-radius 5px
	background-color rgba(255, 255, 255, 0.75)
	.btn
		width 100%
	.section-form__info
		margin-top 60px


.advantages
	margin-top 100px

.advantages-items
	display flex
	flex-wrap wrap

.advantages-item
	display flex
	flex-direction column
	justify-content space-between
	width 33%
	&:nth-child(-n+3)
		padding 30px 0 60px 63px
		border-right 1px solid rgba(0, 0, 0, 0.25)
	&:nth-last-child(-n+3)
		padding 60px 0 30px 63px
		border-top 1px solid rgba(0, 0, 0, 0.25)
		border-right 1px solid rgba(0, 0, 0, 0.25)
	&:nth-child(3n+3)
		border-right none
	&:nth-child(2),
	&:nth-child(5)
		width 34%
	.h5
		max-width 105px
		margin 25px 0
	

.advantages-item__descr
	width 338px


.services
	margin-top 105px

.services-items
	display flex
	flex-wrap wrap
	margin-top 55px

.services-item__wrap
	display flex

.services-item
	display flex
	flex-direction column
	align-items flex-start
	width 50%
	padding 5% 6.5%
	background-color titleColor
	color #ffffff
	transition all ease .5s

.services-item__descr
	width 100%
	margin-top 45px
	margin-bottom 48px
	transition all ease .5s

.services-item__descr_full
	transition all ease .5s
	p
		margin-bottom 20px
		&:last-child
			margin-bottom 0

.services-item_img
	max-width 50%
	padding 0
	img
		width 100%
		height 100%
		transition all ease .5s

.services-item_white
	padding-left 102px
	background-color #fff
	color mainTextColor


.digit
	margin-top 95px

.digit-items
	display flex
	justify-content space-between
	margin-top 65px

.digit-item
	display flex
	flex-direction column
	align-items center
	width 360px
	text-align center
	.h4
		margin-top 22px
		margin-bottom 20px

.digit-item__count
	font-size 62px
	font-family boldFont
	line-height 72px
	color titleColor

		
.solutions-items
	position relative
	padding-bottom 77px

.solutions-item
	// width 490px
	width 100%
	padding 33px 30px
	background-color grayBgColor

.solutions-item__img
	img
		width 100%


.solutions-item__title
	margin-top 30px
	font-family boldFont

.solutions-item__descr
	margin 18px 0


.completed-items
	position relative
	padding-bottom 81px

.completed-slider
	padding 60px
	border-radius 5px
	background-color titleColor

.completed-item
	display flex
	flex-direction column
	width 32%

.completed-item__wrap
	display flex
	justify-content space-between
	margin-bottom 30px
	&:last-child
		margin-bottom 0

.completed-item__block
	position relative
	height 300px
	border-radius 5px
	overflow hidden
	color #ffffff
	p
		position absolute
		bottom 26px
		left 30px
		font-family boldFont
		z-index 5
	a
		display none
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		border-bottom 3px solid #ffffff
		font-size 24px
		font-family boldFont
		color #ffffff
		z-index 5
	img
		width 100%
		height 100%
	&:before
		content ''
		display none
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba(0, 0, 0, 0.4)
		z-index 3
	&:hover
		a
			display block
			text-decoration none
		&:before
			display block


.completed-item__block_max
	width 49%

.completed-item__block_min
	width 23.5%
	img
		width 100%
		height 100%



.clients-items
	position relative
	padding-bottom 79px

.clients-slide__content
	display flex
	flex-wrap wrap

.clients-item
	display flex
	justify-content center
	align-items center
	width 20%
	height 300px
	&:nth-child(odd)
		background-color grayBgColor


.licenses
	&.active
		.licenses-items
			border-radius 5px
			.slick-dotted.slick-slider
				margin-bottom 80px
			.licenses-item[data-slick-index="3"],
			.licenses-item[data-slick-index="4"]
				opacity 1
		.slick-dots
			opacity 1
		.licenses-slider__next,
		.licenses-slider__prev
			opacity 1
		.licenses-action
			display none
			

.licenses-items
	position relative
	background-color titleColor
	padding-bottom 86px
	padding 60px
	border-radius 5px
	.slick-dotted.slick-slider
		margin-bottom 0
		transition all ease .5s
	.licenses-item[data-slick-index="3"],
	.licenses-item[data-slick-index="4"]
		opacity 0
		transition all ease .5s

.licenses-item
	p
		width 257px
		margin-top 32px
		color #ffffff
	img
		width 100%
		height 100%
	

.licenses-slider
	.slick-dots
		opacity 0
		bottom -60px
		transition all ease .5s

.licenses-slider__next,
.licenses-slider__prev
	opacity 0
	bottom 60px
	border 1px solid #ffffff
	transition all ease .5s
	svg
		fill #ffffff

.licenses-slider__next
	right 300px

.licenses-slider__prev
	left 300px

.licenses-action
	width 690px
	height 585px
	position absolute
	bottom 0
	right 7px
	background-image url(../../static/img/content/video/license-bg.png)
	background-repeat no-repeat
	background-size contain
	z-index 6

.licenses-action__content
	position absolute
	bottom 56px
	right 54px
	p
		width 395px
		margin-bottom 31px
	button
		position relative
		padding 0
		padding-bottom 3px
		background-color transparent
		border none
		color rgba(0, 0, 0, 0.5)
		font-family boldFont
		&:before
			content ''
			position absolute
			bottom -3px
			left 0
			width 100%
			height 3px
			background-color rgba(0, 0, 0, 0.5)



.comments-items
	position relative
	padding-bottom 78px

.comments-item
	display flex
	align-items center
	width 100%
	padding 30px
	background-color grayBgColor
	border-radius 5px
	img
		width 100%

.comments-item__text
	display flex
	flex-direction column
	width 62%
	margin-left 30px

.comments-item__title
	font-family boldFont
	margin-bottom 30px



.request-items
	display flex
	border-radius 5px
	overflow hidden

.request-item
	position relative
	width 60%
	height 100%

.request-item__img
	img
		width 100%
		height 100%

.request-item__text
	position absolute
	bottom 46px
	left 61px
	color #ffffff

.request-item__name
	font-size 25px
	font-family boldFont

.request-item__title
	margin 27px 0
	font-family boldFont

.request-item__descr
	width 620px

.request-form
	width 40%
	padding 67px 60px
	padding-bottom 0
	background-color grayBgColor
	.h4
		margin-bottom 33px
	.section-form__input
		width 100%
		margin-bottom 45px
	select
		padding 20px 35px
	.section-form__content
		width 100%
	.btn
		width 100%

	
