.news-page
	.head-block
		background-image url(../../static/img/content/news-bg.png)
		background-size cover
		background-repeat no-repeat
		overflow hidden
		&:before
			content ""
			position absolute
			top 26%
			left 45%
			width 75%
			height 75%
			background-color #F8F8F8
			transform skewX(-38deg)
	.head-block__content
		height 609px
			
.news-title
	margin-bottom 40px
	font-size 96px
	font-family Montserrat-Bold, sans-serif
	color #ffffff
.news-descr
	width 40%
	font-size 22px

.news-items
	display flex
	flex-wrap wrap
	justify-content space-between
.news-item
	width 48%
	padding 30px
	margin-bottom 60px
	background-color grayBgColor
	border-radius 10px
.news-item__img
	width 100%
	border-radius 10px
	overflow hidden
.news-item__title
	margin-top 30px
.news-item__action
	display flex
	align-items center
	margin-top 20px
	font-size 16px
.news-item__date
	position relative
	padding-left 34px
	&:before
		content url(../../static/img/content/time.png)
		position absolute
		top 0
		left 0
.news-item__views
	position relative
	padding-left 34px
	margin-left 30px
	&:before
		content url(../../static/img/content/eye.png)
		position absolute
		top 0
		left 0
	
	
.news-item__descr
	margin 30px 0

.one-news-page
	.head-block__content
		height auto
.one-news__block
	display flex
	justify-content space-between
	margin 60px 0
	&:last-child
		margin-bottom 0
.one-news__info
	width 47%
	.news-item__action
		position relative
		margin 30px 0 60px
		&:after
			content ''
			position absolute
			bottom -30px
			left 0
			width 100%
			height 1px
			background-color #C4C4C4

.one-news__img
	width 49%
	border-radius 10px
	overflow hidden
	img
		width 100%

.one-news__text
	.h5
		margin-bottom 20px
		color titleColor

.other-news-slider
	padding-bottom 110px
	.news-item
		margin-bottom 0
	.news-item__title
		font-size 18px
	.news-item__action
		margin-bottom 20px

.other-news-items_mobile
	display none

@media screen and (max-width 1024px)
	.news-page
		.head-block__content
			flex-direction column
			justify-content space-between
			align-items flex-start
		.head-block
			position relative
			overflow visible
			&:before
				content none
			.container
				width 100%
				padding 0
	.news-title
		padding-left 60px
	.news-descr
		position inherit
		width 100%
		min-height 220px
		padding 60px
		background-color grayBgColor

@media screen and (max-width 768px)
	.news-page .head-block
		background-position center
	.news-items
		justify-content center
	.news-item
		width 100%
	.news-title
		font-size 76px
	.news-descr
		font-size 20px

@media screen and (max-width 710px)
	.news-page .head-block
		background-position 0px -60px
	.news-page .head-block__content
		padding-top 116px
		justify-content space-between
	.news-title
		margin-top 15%
		margin-bottom 0

	.one-news-page .head-block__content
		padding-top 116px

@media screen and (max-width 576px)
	.news-title
		padding-left 30px
		font-size 56px
	.news-descr
		padding 30px
		font-size 18px
	.other-news-items
		display none
	.other-news-items_mobile
		display flex
		flex-direction column
		align-items center
		.news-item
			margin-bottom 45px
		.news-item__action
			margin 20px 0
		.btn-action
			margin 0 auto
			color titleColor
			&:before
				background-color titleColor
	.one-news__block
		margin 30px 0

@media screen and (max-width 480px)
	.news-page .head-block__content
		height 550px
	.news-title
		margin-top 20%
	.news-descr
		min-height auto
		font-size 16px
	.news-item
		width 100%
		padding 25px
	.news-item__title
		font-size 18px
	.news-item__action,
	.news-item__descr
		font-size 14px

@media screen and (max-width 375px)
	.news-page .head-block__content
		height 500px
	.news-title
		font-size 36px
	.other-news-items_mobile
		.news-item
			margin-bottom 30px

@media screen and (max-width 320px)
	.news-page .head-block__content
		height 450px
	.news-title
		font-size 24px
	.news-descr
		font-size 14px
	.news-item
		padding 15px