.news-page
	.head-block
		background-image url(../../static/img/content/news-bg.png)
		background-size contain
		background-repeat no-repeat
		overflow hidden
		&:before
			content ""
			position absolute
			top 26%
			left 45%
			width 65%
			height 75%
			background-color #F8F8F8
			transform skewX(-38deg)
	.head-block__content
		height 609px
			
.news-title
	margin-bottom 40px
	font-size 96px
	font-family Montserrat-Bold, sans-serif
	color #ffffff
.news-descr
	width 40%
	font-size 22px

.news-items
	display flex
	flex-wrap wrap
	justify-content space-between
.news-item
	width 48%
	padding 30px
	margin-bottom 60px
	background-color grayBgColor
	border-radius 10px
.news-item__img
	width 100%
	border-radius 10px
	overflow hidden
.news-item__title
	margin-top 30px
.news-item__action
	display flex
	align-items center
	margin-top 20px
	font-size 16px
.news-item__date
	position relative
	padding-left 34px
	&:before
		content url(../../static/img/content/time.png)
		position absolute
		top 0
		left 0
.news-item__views
	position relative
	padding-left 34px
	margin-left 30px
	&:before
		content url(../../static/img/content/eye.png)
		position absolute
		top 0
		left 0
	
	
.news-item__descr
	margin 30px 0

.one-news-page
	.head-block__content
		height auto
.one-news__block
	display flex
	justify-content space-between
	margin 60px 0
	&:last-child
		margin-bottom 0
.one-news__info
	width 47%
	.news-item__action
		position relative
		margin 30px 0 60px
		&:after
			content ''
			position absolute
			bottom -30px
			left 0
			width 100%
			height 1px
			background-color #C4C4C4

.one-news__img
	width 49%
	border-radius 10px
	overflow hidden

.one-news__text
	.h5
		margin-bottom 20px
		color titleColor

.other-news-slider
	padding-bottom 110px
	.news-item
		margin-bottom 0
	.news-item__title
		font-size 18px
	.news-item__action
		margin-bottom 20px