.projects-page
	.head-block
		background-image url(../../static/img/content/projects-bg.png)
	.head-block__content
		flex-direction column
		justify-content center
		align-items flex-start
	.h1
		font-size 96px
		line-height 120px
		color #ffffff
	.js-slide__content
		display flex
		justify-content space-between
		width 75%
		padding 60px
		margin-top 60px

.projects-info
	max-width 219px
	text-align center

.projects-info__count
	font-family boldFont
	font-size 64px
	background linear-gradient(93.58deg, #1A777E 0%, #1A98A6 99.22%)
	-webkit-background-clip text
	color transparent

.projects-info__title
	font-family boldFont
	font-size 24px
	line-height 36px
	color #ffffff

.project-item
	display flex
	padding 30px
	margin-bottom 60px
	background-color grayBgColor

.project-item__img
	display flex

.project-item__img-wrap
	display flex
	flex-direction column
	justify-content space-between
	margin-left 30px

.project-item__text
	margin-left 30px

.project-item__descr
	margin 30px 0

.project-item__info
	margin-bottom 30px
	font-family boldFont
	&:last-child
		margin-bottom 0

.project-item__info-square,
.project-item__info-count
	margin-left 15px
	font-family mainFont