.staff-page
	.head-block__content
		height auto

.staff
	margin 60px 0 100px

.staff-items
	padding 60px
	background-color grayBgColor

.staff-items__block
	display flex
	justify-content space-between
	margin-bottom 60px
	&:last-child
		margin-bottom 0

.staff-item
	width 23.5%
	font-size 16px

.staff-item__img
	display flex
	align-items flex-end
	justify-content center
	width 100%
	height 380px
	background linear-gradient(93.58deg, #1A777E 0%, #1A98A6 99.22%)
	border-radius 10px
	overflow hidden

.staff-item__name
	margin-top 30px
	font-family Montserrat-Bold, sans-serif
	color titleColor

.staff-item__proffession
	margin 20px 0
	color actionColor
	