.video-home-page
	.head-block
		background-image url(../../static/img/content/video-home-bg.png)
	.h3
		max-width 780px
	.slick-slider
		position static

	.request-items
		flex-direction row-reverse
	.request-item
		width 57%
	.request-item__img
		img
			width auto
	.request-form
		width 43%
		padding 60px
		.section-form__title
			min-width 182px
		.section-form__box
			margin-bottom 18px
			&:last-child
				margin-bottom 0
		.section-form__content
			width 55%
			.section-form__input
				margin-bottom 0
	.section-form__text
		display flex
		justify-content space-between
		margin 30px 0
		p
			font-family boldFont
		&:first-child
			margin-top 0
	.section-form__info
		margin-top 30px


	.completed-items
		display flex
		justify-content space-between
		padding-bottom 0
		margin-bottom 60px

	.completed-item__block
		height 315px
		p
			font-family mainFont

.sets-items
	padding-bottom 80px

.sets-item
	padding 30px
	background-color grayBgColor
	border-radius 5px

.sets-item__title
	font-family boldFont

.sets-item__block
	display flex
	justify-content flex-start
	align-items space-between
	margin 30px 0

.sets-item__action
	display flex
	justify-content space-between
	align-items center
	span
		margin-left 10px
		font-family boldFont

.sets-item__img
	min-width 238px
	max-width 238px
	border-radius 5px
	overflow hidden
	img
		width 100%

.sets-item__info
	display flex
	flex-direction column
	justify-content space-between
	margin-left 30px

.sets-item__info-block
	display flex
	align-items center
	p
		margin-left 30px


.reviews-items
	padding-bottom 80px

.reviews-item
	display flex
	border-radius 5px
	overflow hidden

.reviews-item__img
	width 26%
	img
		width 100%
		height 100%

.reviews-item__text
	width 74%
	padding 77px 60px
	background-color grayBgColor

.reviews-item__title
	font-family boldFont
	margin-bottom 30px
