footer.footer
	.container
		.footer-content
			.footer-content__top
				.footer-info
					.logo
						img(src="static/img/content/logo.png", alt="Сивил-строй")
					a(href="mailto:info@con-s.ru").contact-email info@con-s.ru
				.footer-block
					.footer-block__item
						a(href="#").footer-block__title Для бизнеса
						ul.footer-menu
							li
								a(href="#").active Видеонаблюдение
							li
								a(href="#") Системы контроля и управления доступом
							li
								a(href="#") Пожарные системы
							li
								a(href="#") Охранные системы
							li
								a(href="#") Структурированные кабельные сети
					.footer-block__item
						a(href="#").footer-block__title Для дома
						ul.footer-menu
							li
								a(href="#") Видеонаблюдение
							li
								a(href="#") Охранные системы
					.footer-block__item
						a(href="#").footer-block__title О компании
						a(href="#").footer-block__title Проекты
						a(href="#").footer-block__title Контакты
				.footer-contact
					a(href="tel:88005553535").contact-phone +8 800 555 35 35
					a(href="#").btn.btn_white Заказать звонок
			.footer-content__bottom
				p.footer-copyright Все права защищены 2021
