header.header
	.container
		.header__content
			.logo
				img(src="static/img/content/logo.png", alt="Сивил-строй")
			.header-nav
				ul.header-nav__menu
					li.header-nav__menu-item
						a(href="#").header__btn.active Для бизнеса
						ul.header-nav__submenu
							li.active
								a(href="#").active Видеонаблюдение
							li
								a(href="#") Системы контроля и управления доступом
							li
								a(href="#") Пожарные системы
							li
								a(href="#") Охранные системы
							li
								a(href="#") Структурированные кабельные сети
					li.header-nav__menu-item
						a(href="#").header__btn Для дома
						ul.header-nav__submenu
							li
								a(href="#") Видеонаблюдение
							li
								a(href="#") Охранные системы
					li.header-nav__menu-item
						a(href="#") О компании
					li.header-nav__menu-item
						a(href="#") Проекты
					li.header-nav__menu-item
						a(href="#") Контакты
				ul.header-nav__menu-tablet
					li.header-nav__menu-item
						a(href="#").header__btn.active Для бизнеса
						ul.header-nav__submenu
							li.active
								a(href="#").active Видеонаблюдение
							li
								a(href="#") Системы контроля и управления доступом
							li
								a(href="#") Пожарные системы
							li
								a(href="#") Охранные системы
							li
								a(href="#") Структурированные кабельные сети
					li.header-nav__menu-item
						a(href="#").header__btn Для дома
						ul.header-nav__submenu
							li
								a(href="#") Видеонаблюдение
							li
								a(href="#") Охранные системы
					li.header-nav__menu-item
						a(href="#") О компании
					li.header-nav__menu-item
						a(href="#") Проекты
					li.header-nav__menu-item
						a(href="#") Контакты
			.header__action
				.header__contact
					a(href="mailto:info@con-s.ru").contact-email info@con-s.ru
					a(href="tel:88005553535").contact-phone +8 800 555 35 35
				a(href="#").header__btn Заказать звонок
			.nav-mobile
				.nav-mobile__line.nav-mobile__line-top
				.nav-mobile__line.nav-mobile__line-middle
				.nav-mobile__line.nav-mobile__line-bottom

