#completed-popup.popup.zoom-anim-dialog.mfp-hide
	.completed-popup__slider
		.completed-popup__slide
			.completed-popup__slide-img
				img(src="static/img/content/video/complited-img-6.png", alt="Product")
			.completed-popup__slide-img
				img(src="static/img/content/video/complited-img-6.png", alt="Product")
			.completed-popup__slide-img
				img(src="static/img/content/video/complited-img-6.png", alt="Product")
			.completed-popup__slide-img
				img(src="static/img/content/video/complited-img-6.png", alt="Product")
			.completed-popup__slide-img
		.completed-popup__nav
			.completed-popup__nav-img
				img(src="static/img/content/video/complited-img-6.png", alt="Product")
			.completed-popup__nav-img
				img(src="static/img/content/video/complited-img-6.png", alt="Product")
			.completed-popup__nav-img
				img(src="static/img/content/video/complited-img-6.png", alt="Product")
			.completed-popup__nav-img
				img(src="static/img/content/video/complited-img-6.png", alt="Product")
			.completed-popup__nav-img
	.project-item__text
		h4.h4 Двухэтажный коттедж и придомовая территория
		p.project-item__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения и уточнения модели развития. Не следует, однако забывать, что консультация с широким активом позволяет выполнять важные задания по разработке новых предложений. 
		p.project-item__info Площадь:
			span.project-item__info-square 123 м<sup>2</sup>
		p.project-item__info Количество камер:
			span.project-item__info-count 665


