.footer
	background-color blackColor
	color #ffffff

.footer-content
	display flex
	flex-direction column
	padding 83px 0

.footer-content__top
	display flex
	justify-content space-between
	margin-bottom 33px

.footer-info
	display flex
	flex-direction column
	justify-content space-between
	height 207px
	margin-top 7px
	.contact-email
		font-size 18px
		color #ffffff

.footer-block
	display flex
	justify-content space-between
	width 53%
	margin-right 23px
	a 
		color #ffffff

.footer-block__item
	max-width 200px
	display flex
	flex-direction column

.footer-block__title
	margin-bottom 25px
	font-size 24px
	font-family boldFont
	color #ffffff

.footer-menu
	li
		margin-bottom 27px
	a
		padding-bottom 7px
		border-bottom 3px solid transparent
		&.active
			border-bottom 3px solid #ffffff
			font-family boldFont
		&:hover
			text-decoration none

.footer-contact
	display flex
	flex-direction column
	align-items flex-end
	margin-top 3px
	.contact-phone
		margin-bottom 22px
		font-size 18px
		font-family boldFont
		color #ffffff

.footer-copyright
	text-align center
	font-size 14px


.footer-content__tablet
	display none
	justify-content space-between
	.footer-contact
		flex-direction row-reverse
		justify-content space-between
		margin-top 30px
	.footer-block
		width 423px

.footer-block__wrap
	display flex
	flex-direction column