.header
	position absolute
	top 0
	left 0
	width 100%
	background-color rgba(255, 255, 255, 0.65)
	z-index 5

.header__content
	display flex
	justify-content space-between
	align-items center
	height 159px
	padding-bottom 10px
	font-size 18px

.header-nav
	position relative
	display flex
	justify-self flex-start
	flex 1

.header-nav__menu
	display flex
	justify-content space-between
	flex-wrap wrap
	width 72%
	margin-left 98px
	li
		padding 10px 15px
		a
			&:hover
				text-decoration none
				color mainTextColor
	.header__btn
		padding-right 31px
		font-family mainFont
		color #000
		cursor pointer
		text-decoration none
		svg
			position absolute
			top 3px
			right -5px
			width 30px
			height 20px
			fill #000000
			-webkit-transition all .27s ease-in-out
			-o-transition all .27s ease-in-out
			transition all .27s ease-in-out
			-webkit-transform rotate(0deg)
			-ms-transform rotate(0deg)
			-o-transform rotate(0deg)
			transform rotate(0deg)
		
.header-nav__menu-item
	position relative
	&.active
		.header-nav__submenu
			display block
		.header__btn
			font-family boldFont
			color actionColor
			&:before
				content ''
				background-color actionColor
			svg
				fill actionColor
				-webkit-transform rotate(180deg)
				-ms-transform rotate(180deg)
				-o-transform rotate(180deg)
				transform rotate(180deg)

.header-nav__submenu
	display none
	width 210px
	position absolute
	top 56px
	left 0
	background-color #fff
	font-size 16px
	z-index 5
	li
		a	
			display block
			color rgba(0, 0, 0, 0.5)
			&:hover
				font-family boldFont
				color mainTextColor

.header__action
	display flex
	flex-direction column
	align-items flex-end
	justify-content space-between
	min-height 73px
	margin-bottom 4px

.header__contact
	display flex
	line-height 1.7
	a
		text-decoration none
		color mainTextColor
	.contact-phone
		margin-left 68px
		font-family boldFont

.header__btn
	position relative
	padding 0
	border none
	background-color transparent
	color actionColor
	font-family boldFont
	&:hover
		text-decoration none
		color mainTextColor
		&:before
			background-color mainTextColor
	&:before
		content none
		position absolute
		bottom -12px
		left 0
		width 100%
		height 3px
		border-radius 1px
		background-color actionColor

.header-nav__tablet
	display none
	position absolute
	top 30px
	right 0
	width 360px
	z-index 10
	.header-nav__menu
		width 100%
		margin 0
		padding 30px 0
		background-color #fff
		border-radius 5px
	.header-nav__submenu
		display block
		position static
		width 100%
		li
			padding 15px 30px
			border-bottom 1px solid rgba(0, 0, 0, 0.25)
			&:first-child
				padding-top 30px
			&:last-child
				border-bottom none
		a
			position relative
			&:before
				content none
				position absolute
				bottom -20px
				left 0
				width 100%
				height 3px
				background-color #000
				border-radius 1px
			&:hover
				font-family boldFont
				&:before
					content ''

	.header-nav__menu-item
		padding 0
		padding-bottom 30px
		>a
			padding-left 30px
		&:last-child
			padding-bottom 0
	.header__btn
		padding 0
		padding-left 30px
		&:hover
			color mainTextColor
			&:before
				content none
		&:after
			content none
	.btn-close
		position absolute
		top 15px
		right 15px
		cursor pointer
	&.active
		display block

.nav-mobile
	display none
	position relative
	width 45px
	height 45px
	top 15px
	right 3px
	
.nav-mobile__line
	display block
	position absolute
	width 45px
	height 3px
	margin 10px 0
	border-radius 3px
	background-color actionColor
	cursor pointer

.nav-mobile__line-top
	margin-top 0
	top -8px
	transition all linear .3s

.nav-mobile__line-bottom
	margin-bottom 0
	top 17px
	transition all linear .3s


.email-mobile,
.phone-mobile
	display none
	align-items center
	justify-content center
	width 33px
	height 33px
	background-color actionColor
	border-radius 2px
	svg
		width 20px
		height 20px
		fill #ffffff
	&:hover
		background-color #fff
		svg
			fill actionColor
	