#completed-popup
    display flex
    width 1036px
    height 485px
    margin 0 auto
    padding 30px
    border-radius 5px
    background-color actionColor
    color #ffffff
    .project-item__text
        width 500px
    .slick-initialized
        .slick-slide
            display inline-block !important
    .slick-prev
        left 0
    .slick-next
        right 0

.completed-popup__slider
    width 448px

.completed-popup__slide
    border-radius 5px
    overflow hidden

.completed-popup__slide-img
    //

.completed-popup__nav-img
    //