extends ../layout/main

block variables
	- var title = 'Главная страница';
	- var pageClass = 'index-page';

block content
	section.head-block
		.container
			.head-block__content
				.head-block__slider
					.js-slider__next.section-slider__next
						svg(width='50' height='50' viewbox='0 0 50 50' fill='none')
							rect(x='49.5' y='49.5' width='49' height='49' rx='2.5' transform='rotate(-180 49.5 49.5)' stroke='white')
							path(d='M21.6665 35L31.6665 25L21.6665 15' stroke='white' stroke-linecap='round')
					.js-slider__prev.section-slider__prev
						svg(width='50' height='50' viewbox='0 0 50 50' fill='none')
							rect(x='0.5' y='0.5' width='49' height='49' rx='2.5' stroke='white')
							path(d='M28.3335 15L18.3335 25L28.3335 35' stroke='white' stroke-linecap='round')
					.js-slider
						.js-slide
							.js-slide__content
								.js-slide__text
									h1.h1 Видеонаблюдение для бизнеса
									p Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
								.js-slide__items
									.js-slide__item
										img(src="static/img/content/video/verified.png", alt="Гарантия")
										p Гарантия на все работы  - 2 года
									.js-slide__item
										img(src="static/img/content/video/support.png", alt="Поддержка")
										p Техническая поддержка 24/7
						.js-slide
							.js-slide__content
								.js-slide__text
									h1.h1 Видеонаблюдение для бизнеса
									p Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
								.js-slide__items
									.js-slide__item
										img(src="static/img/content/video/verified.png", alt="Гарантия")
										p Гарантия на все работы  - 2 года
									.js-slide__item
										img(src="static/img/content/video/support.png", alt="Поддержка")
										p Техническая поддержка 24/7
						.js-slide
							.js-slide__content
								.js-slide__text
									h1.h1 Видеонаблюдение для бизнеса
									p Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
								.js-slide__items
									.js-slide__item
										img(src="static/img/content/video/verified.png", alt="Гарантия")
										p Гарантия на все работы  - 2 года
									.js-slide__item
										img(src="static/img/content/video/support.png", alt="Поддержка")
										p Техническая поддержка 24/7
						.js-slide
							.js-slide__content
								.js-slide__text
									h1.h1 Видеонаблюдение для бизнеса
									p Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
								.js-slide__items
									.js-slide__item
										img(src="static/img/content/video/verified.png", alt="Гарантия")
										p Гарантия на все работы  - 2 года
									.js-slide__item
										img(src="static/img/content/video/support.png", alt="Поддержка")
										p Техническая поддержка 24/7
				form.head-form
					.section-form__box
						label Уровень качества видео
						.section-form__content.section-form__content_arrow
							select
								option(value="Full HD") Full HD
								option(value="Full HD") Full HD
								option(value="Full HD") Full HD
								option(value="Full HD") Full HD
					.section-form__box
						label Количество камер внутри помещения
						.section-form__content
							button
								svg(width='30' height='30' viewbox='0 0 30 30' fill='none')
									path(d='M17.5 22.5L10 15L17.5 7.5' stroke='#115B64' stroke-linecap='round')
							input(type="text" value="1")
							button
								svg(width='30' height='30' viewbox='0 0 30 30' fill='none')
									path(d='M12.5 22.5L20 15L12.5 7.5' stroke='#115B64' stroke-linecap='round')
					.section-form__box
						label Количество камер снаружи помещения
						.section-form__content
							button
								svg(width='30' height='30' viewbox='0 0 30 30' fill='none')
									path(d='M17.5 22.5L10 15L17.5 7.5' stroke='#115B64' stroke-linecap='round')
							input(type="text" value="1")
							button
								svg(width='30' height='30' viewbox='0 0 30 30' fill='none')
									path(d='M12.5 22.5L20 15L12.5 7.5' stroke='#115B64' stroke-linecap='round')
					.section-form__box
						label Время хранения видео
						.section-form__content.section-form__content_arrow
							select
								option(value="Full HD") 14 дней
								option(value="Full HD") 14 дней
								option(value="Full HD") 14 дней
								option(value="Full HD") 14 дней
					.section-form__info
						.section-form__box
							input(type="text" placeholder="Ваше имя")
						.section-form__box
							input(type="text" placeholder="Ваш e-mail")
						.section-form__box
							input(type="text" placeholder="Ваш номер телефона")
					button(type="submit").btn Получить коммерческое предложение
	section.advantages
		.container
			h3.h3 Наши преимущества
			p.section-descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
			.advantages-items
				.advantages-item
					.advantages-item__img
						img(src="static/img/content/video/verified.png", alt="Гарантия")
					h5.h5 Гарантия 2 года
					p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы
				.advantages-item
					.advantages-item__img
						img(src="static/img/content/video/suitcase.png", alt="Низкая стоимость")
					h5.h5 Низкая стоимость
					p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы
				.advantages-item
					.advantages-item__img
						img(src="static/img/content/video/film.png", alt="Современный дизайн")
					h5.h5 Современный дизайн
					p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы
				.advantages-item
					.advantages-item__img
						img(src="static/img/content/video/rss.png", alt="Быстрое подключение")
					h5.h5 Быстрое подключение
					p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы
				.advantages-item
					.advantages-item__img
						img(src="static/img/content/video/clipboard.png", alt="Прозрачный договор")
					h5.h5 Прозрачный договор
					p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы
				.advantages-item
					.advantages-item__img
						img(src="static/img/content/video/headphones.png", alt="Поддержка и сервис")
					h5.h5 Поддержка и сервис
					p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы
	section.services
		.container
			h3.h3 Наши услуги
			.services-items
				.services-item.services-item_img
					img(src="static/img/content/video/services-img-1.png", alt="Проектирование видеонаблюдения")
				.services-item
					h4.h4 Проектирование видеонаблюдения
					p.services-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
					button.btn.btn_border Подробнее
				.services-item.services-item_white
					h4.h4 Проектирование видеонаблюдения
					p.services-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
					button.btn.btn_transparent Подробнее
				.services-item.services-item_img
					img(src="static/img/content/video/services-img-2.png", alt="Проектирование видеонаблюдения")
				.services-item.services-item_img
					img(src="static/img/content/video/services-img-3.png", alt="Проектирование видеонаблюдения")
				.services-item
					h4.h4 Проектирование видеонаблюдения
					p.services-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
					button.btn.btn_border Подробнее
				.services-item.services-item_white
					h4.h4 Проектирование видеонаблюдения
					p.services-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
					button.btn.btn_transparent Подробнее
				.services-item.services-item_img
					img(src="static/img/content/video/services-img-4.png", alt="Проектирование видеонаблюдения")
	section.digit
		.container
			h3.h3 Наш опыт в цифрах
			.digit-items
				.digit-item
					p.digit-item__count 20
					h4.h4 лет опыта
					p.digit-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
				.digit-item
					p.digit-item__count 350
					h4.h4 объектов
					p.digit-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
				.digit-item
					p.digit-item__count 70
					h4.h4 проверок
					p.digit-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
				.digit-item
					p.digit-item__count 6800
					h4.h4 километров
					p.digit-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
			form.section-form
				h4.h4 Оставьте заявку на бесплатную консультацию
				p.section-form__descr Мы ответим на все интересующие Вас вопросы и расскажем  об уникальных особенностях нашего оборудования
				.section-form__box
					input(type="text" placeholder="Ваше имя")
					input(type="text" placeholder="Ваш e-mail")
					input(type="text" placeholder="Ваш номер телефона")
					button(type="submit").btn Оставить заявку
	section.solutions
		.container
			h3.h3 Типовые решения
			.solutions-items
				.solutions-slider__next.section-slider__next
					svg(width='50' height='50' viewbox='0 0 50 50' fill='none')
						rect(x='49.5' y='49.5' width='49' height='49' rx='2.5' transform='rotate(-180 49.5 49.5)' stroke='#115B64')
						path(d='M21.6665 35L31.6665 25L21.6665 15' stroke='#115B64' stroke-linecap='round')
				.solutions-slider__prev.section-slider__prev
					svg(width='50' height='50' viewbox='0 0 50 50' fill='none')
						rect(x='0.5' y='0.5' width='49' height='49' rx='2.5' stroke='#115B64')
						path(d='M28.3335 15L18.3335 25L28.3335 35' stroke='#115B64' stroke-linecap='round')
				.solutions-slider.section-slider
					.solutions-item
						.solutions-item__img
							img(src="static/img/content/video/solutions-img-1.png", alt="")
						p.solutions-item__title Школа
						p.solutions-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
						button.btn.btn_transparent Подробнее
					.solutions-item
						.solutions-item__img
							img(src="static/img/content/video/solutions-img-2.png", alt="")
						p.solutions-item__title Школа
						p.solutions-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
						button.btn.btn_transparent Подробнее
					.solutions-item
						.solutions-item__img
							img(src="static/img/content/video/solutions-img-3.png", alt="")
						p.solutions-item__title Школа
						p.solutions-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
						button.btn.btn_transparent Подробнее
					.solutions-item
						.solutions-item__img
							img(src="static/img/content/video/solutions-img-1.png", alt="")
						p.solutions-item__title Школа
						p.solutions-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
						button.btn.btn_transparent Подробнее
	section.completed.section-margin
		.container
			h3.h3 Наши реализованные проекты
			.completed-items
				.completed-slider__next.section-slider__next
					svg(width='50' height='50' viewbox='0 0 50 50' fill='none')
						rect(x='49.5' y='49.5' width='49' height='49' rx='2.5' transform='rotate(-180 49.5 49.5)' stroke='#115B64')
						path(d='M21.6665 35L31.6665 25L21.6665 15' stroke='#115B64' stroke-linecap='round')
				.completed-slider__prev.section-slider__prev
					svg(width='50' height='50' viewbox='0 0 50 50' fill='none')
						rect(x='0.5' y='0.5' width='49' height='49' rx='2.5' stroke='#115B64')
						path(d='M28.3335 15L18.3335 25L28.3335 35' stroke='#115B64' stroke-linecap='round')
				.completed-slider.section-slider
					.completed-item
						.completed-item__wrap
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-1.png", alt="")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-2.png", alt="")
								p Школа
								a(href="#") Подробнее
						.completed-item__wrap
							.completed-item__block.completed-item__block_min
								img(src="static/img/content/video/complited-img-3.png", alt="")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-4.png", alt="")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_min
								img(src="static/img/content/video/complited-img-5.png", alt="")
								p Школа
								a(href="#") Подробнее
					.completed-item
						.completed-item__wrap
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-1.png", alt="")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-2.png", alt="")
								p Школа
								a(href="#") Подробнее
						.completed-item__wrap
							.completed-item__block.completed-item__block_min
								img(src="static/img/content/video/complited-img-3.png", alt="")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-4.png", alt="")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_min
								img(src="static/img/content/video/complited-img-5.png", alt="")
								p Школа
								a(href="#") Подробнее
					.completed-item
						.completed-item__wrap
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-1.png", alt="")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-2.png", alt="")
								p Школа
								a(href="#") Подробнее
						.completed-item__wrap
							.completed-item__block.completed-item__block_min
								img(src="static/img/content/video/complited-img-3.png", alt="")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-4.png", alt="")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_min
								img(src="static/img/content/video/complited-img-5.png", alt="")
								p Школа
								a(href="#") Подробнее
					.completed-item
						.completed-item__wrap
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-1.png", alt="Школа")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-2.png", alt="Школа")
								p Школа
								a(href="#") Подробнее
						.completed-item__wrap
							.completed-item__block.completed-item__block_min
								img(src="static/img/content/video/complited-img-3.png", alt="Школа")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_max
								img(src="static/img/content/video/complited-img-4.png", alt="Школа")
								p Школа
								a(href="#") Подробнее
							.completed-item__block.completed-item__block_min
								img(src="static/img/content/video/complited-img-5.png", alt="Школа")
								p Школа
								a(href="#") Подробнее
	section.clients.section-margin
		.container
			h3.h3 Наши клиенты
			p.section-descr Наши отношения с клиентами ежегодно укрепляются потому что мы клевые, а вы — нет :)
			.clients-items
				.clients-slider__next.section-slider__next
					svg(width='50' height='50' viewbox='0 0 50 50' fill='none')
						rect(x='49.5' y='49.5' width='49' height='49' rx='2.5' transform='rotate(-180 49.5 49.5)' stroke='#115B64')
						path(d='M21.6665 35L31.6665 25L21.6665 15' stroke='#115B64' stroke-linecap='round')
				.clients-slider__prev.section-slider__prev
					svg(width='50' height='50' viewbox='0 0 50 50' fill='none')
						rect(x='0.5' y='0.5' width='49' height='49' rx='2.5' stroke='#115B64')
						path(d='M28.3335 15L18.3335 25L28.3335 35' stroke='#115B64' stroke-linecap='round')
				.clients-slider.section-slider
					.clients-slide
						.clients-slide__content
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
					.clients-slide
						.clients-slide__content
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
							.clients-item
								img(src="static/img/content/video/client-img.png", alt="ОАО НПП Звезда")
	section.licenses.section-margin
		.container
			h3.h3 Лицензии
			.licenses-items
				.licenses-item
					.licenses-item__img
						img(src="static/img/content/video/license.png", alt="Лицензия")
					p Свидетельство о регистрации юр. лица
				.licenses-item
					.licenses-item__img
						img(src="static/img/content/video/license.png", alt="Лицензия")
					p Лицензия
				.licenses-item
					.licenses-item__img
						img(src="static/img/content/video/license.png", alt="Лицензия")
					p Лицензия
			.licenses-action
				.licenses-action__content
					p Мы имеем статус официального инсталлятора систем контроля доступа, подтвержденный сертификатами производетелей.
					button Все сертификаты
	section.comments.section-margin
		.container
			h3.h3 Отзывы
			p.section-descr А вот тут наши кевые клиенты пишут свои клевые отзывы.
			.comments-items
				.comments-slider__next.section-slider__next
					svg(width='50' height='50' viewbox='0 0 50 50' fill='none')
						rect(x='49.5' y='49.5' width='49' height='49' rx='2.5' transform='rotate(-180 49.5 49.5)' stroke='#115B64')
						path(d='M21.6665 35L31.6665 25L21.6665 15' stroke='#115B64' stroke-linecap='round')
				.comments-slider__prev.section-slider__prev
					svg(width='50' height='50' viewbox='0 0 50 50' fill='none')
						rect(x='0.5' y='0.5' width='49' height='49' rx='2.5' stroke='#115B64')
						path(d='M28.3335 15L18.3335 25L28.3335 35' stroke='#115B64' stroke-linecap='round')
				.comments-slider.section-slider
					.comments-slide
						.comments-item
							.comments-item__img
								img(src="static/img/content/video/comment-img.png", alt="Грамота")
							.comments-item__text
								p.comments-item__title Московский государственный университет
								p.comments-item__descr А вот тут наши кевые клиенты пишут свои клевые отзывы. Очень хорошее исполнение, лучшая компания, рекомендую только вас.
					.comments-slide
						.comments-item
							.comments-item__img
								img(src="static/img/content/video/comment-img.png", alt="Грамота")
							.comments-item__text
								p.comments-item__title Московский государственный университет
								p.comments-item__descr А вот тут наши кевые клиенты пишут свои клевые отзывы. Очень хорошее исполнение, лучшая компания, рекомендую только вас.
					.comments-slide
						.comments-item
							.comments-item__img
								img(src="static/img/content/video/comment-img.png", alt="Грамота")
							.comments-item__text
								p.comments-item__title Московский государственный университет
								p.comments-item__descr А вот тут наши кевые клиенты пишут свои клевые отзывы. Очень хорошее исполнение, лучшая компания, рекомендую только вас.
					.comments-slide
						.comments-item
							.comments-item__img
								img(src="static/img/content/video/comment-img.png", alt="Грамота")
							.comments-item__text
								p.comments-item__title Московский государственный университет
								p.comments-item__descr А вот тут наши кевые клиенты пишут свои клевые отзывы. Очень хорошее исполнение, лучшая компания, рекомендую только вас.
	section.request.section-margin
		.container
			h3.h3 Оставьте заявку на коммерческое предложение
			.request-items
				.request-item
					.request-item__img
						img(src="static/img/content/video/request-photo.png", alt="Игорь Степанович")
					.request-item__text
						.request-item__name Игорь Степанович
						.request-item__title Руководитель компании
						.request-item__descr Занимаюсь всякими штуками, рисую проекты, наблюдаю наблюдения, красиво стою и улыбаюсь читаю ваши заявочки. Поэтому не оставляйте меня без работы и скорее оставляйте свою заявку!
				form.request-form
					h4.h4 Выберите услугу:
					.section-form__box
						.section-form__content.section-form__content_arrow
							select
								option(value="Проектирование видеонаблюдения") Проектирование видеонаблюдения
								option(value="Проектирование видеонаблюдения") Проектирование видеонаблюдения
					.section-form__box
						input(type="text" placeholder="Ваше имя")
					.section-form__box
						input(type="text" placeholder="Ваш e-mail")
					.section-form__box
						input(type="text" placeholder="Ваш номер телефона")
					button(type="submit").btn Получить коммерческое предложение

					

			
