extends ../layout/main

block variables
	- var title = 'Видеонаблюдение для бизнеса';
	- var pageClass = 'index-page';

block content
	include ../sections/head-block
	include ../sections/advantages
	include ../sections/services
	include ../sections/digit
	include ../sections/form-section
	include ../sections/solutions
	include ../sections/completed
	include ../sections/clients
	include ../sections/licenses
	include ../sections/comments
	include ../sections/request
	include ../modules/popup
