extends ../layout/main

block variables
	- var title = 'Новости';
	- var pageClass = 'news-page';

block content
	section.head-block
		.container
			.head-block__content
				h1.news-title Новости
				p.news-descr Все, что вы хотели знать о проектирование, монтаже, обслуживание, модернизацию и интгерацию систем видеонаблюдения. Узнавайте каждый день что‑то новое из мира вместе с нашей командой!
	section.news.section-margin
		.container
			.news-items
				.news-item
					img(src="static/img/content/news-item.png", alt="Новости").news-item__img
					h4.news-item__title Особенности интеграции систем видеонаблюдения
					.news-item__action
						p.news-item__date 12 апреля 2021
						p.news-item__views 120
					p.news-item__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения...
					a(href="one-news.html").btn.btn_transparent Подробнее
				.news-item
					img(src="static/img/content/news-item.png", alt="Новости").news-item__img
					h4.news-item__title Особенности интеграции систем видеонаблюдения
					.news-item__action
						p.news-item__date 12 апреля 2021
						p.news-item__views 120
					p.news-item__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения...
					a(href="one-news.html").btn.btn_transparent Подробнее
				.news-item
					img(src="static/img/content/news-item.png", alt="Новости").news-item__img
					h4.news-item__title Особенности интеграции систем видеонаблюдения
					.news-item__action
						p.news-item__date 12 апреля 2021
						p.news-item__views 120
					p.news-item__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения...
					a(href="one-news.html").btn.btn_transparent Подробнее
				.news-item
					img(src="static/img/content/news-item.png", alt="Новости").news-item__img
					h4.news-item__title Особенности интеграции систем видеонаблюдения
					.news-item__action
						p.news-item__date 12 апреля 2021
						p.news-item__views 120
					p.news-item__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения...
					a(href="one-news.html").btn.btn_transparent Подробнее
				.news-item
					img(src="static/img/content/news-item.png", alt="Новости").news-item__img
					h4.news-item__title Особенности интеграции систем видеонаблюдения
					.news-item__action
						p.news-item__date 12 апреля 2021
						p.news-item__views 120
					p.news-item__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения...
					a(href="one-news.html").btn.btn_transparent Подробнее
				.news-item
					img(src="static/img/content/news-item.png", alt="Новости").news-item__img
					h4.news-item__title Особенности интеграции систем видеонаблюдения
					.news-item__action
						p.news-item__date 12 апреля 2021
						p.news-item__views 120
					p.news-item__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения...
					a(href="one-news.html").btn.btn_transparent Подробнее



