extends ../layout/main

block variables
	- var title = 'Новости страница';
	- var pageClass = 'one-news-page';

block content
	section.one-news.head-block__content
		.container
			.one-news__content
				.one-news__block
					.one-news__info
						h3.h3 Особенности интеграции систем видеонаблюдения
						.news-item__action
							p.news-item__date 12 апреля 2021
							p.news-item__views 120
						p.one-news__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения и уточнения модели развития. Не следует, однако забывать, что консультация с широким активом позволяет выполнять важные задания по разработке новых предложений. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание форм развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
					.one-news__img
						img(src="static/img/content/news-item.png", alt="Новости")
				.one-news__block
					.one-news__img
						img(src="static/img/content/news-item-2.png", alt="Новости")
					.one-news__info
						p.one-news__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения и уточнения модели развития. Не следует, однако забывать, что консультация с широким активом позволяет выполнять важные задания по разработке новых предложений. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке систем массового участия. Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание форм развития. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
						p.one-news__descr Задача организации, в особенности же постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации новых предложений. Значимость этих проблем настолько очевидна, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Равным образом консультация с широким активом позволяет оценить значение соответствующий условий активизации. Равным образом консультация с широким активом позволяет оценить значение соответствующий условий активизации.
				.one-news__block
					.one-news__text
						h5.h5 Проектирование видеонаблюдения
						p.one-news__descr  С другой стороны постоянный количественный рост и сфера нашей активности требуют от нас анализа форм развития. Таким образом реализация намеченных плановых заданий в значительной степени обуславливает создание форм развития. Равным образом укрепление и развитие структуры представляет собой интересный эксперимент проверки новых предложений. Товарищи! постоянный количественный рост и сфера нашей активности требуют от нас анализа форм развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки модели развития. Товарищи! укрепление и развитие структуры требуют определения и уточнения новых предложений. С другой стороны постоянный количественный рост и сфера нашей активности требуют от нас анализа форм развития. Таким образом реализация намеченных плановых заданий в значительной степени обуславливает создание форм развития. Равным образом укрепление и развитие структуры представляет собой интересный эксперимент проверки новых предложений. Товарищи! постоянный количественный рост и сфера нашей активности требуют от нас анализа форм развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки модели развития. Товарищи! укрепление и развитие структуры требуют определения и уточнения новых предложений.
	section.other-news.section-margin
		.container
			h3.h3 Читайте также:
			.other-news-items.section-items
				.other-news-slider__next.section-slider__next
					svg(version='1.1' x='0px' y='0px' viewbox='0 0 490.8 490.8' style='enable-background:new 0 0 490.8 490.8;' xml:space='preserve')
						path(d='M135.685,3.128c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82\
						l227.115,227.136L120.581,472.461c-4.237,4.093-4.354,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262\
						c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.685,3.128z')
						path(d='M128.133,490.68c-5.891,0.011-10.675-4.757-10.686-10.648c-0.005-2.84,1.123-5.565,3.134-7.571l227.136-227.115\
						L120.581,18.232c-4.171-4.171-4.171-10.933,0-15.104c4.171-4.171,10.933-4.171,15.104,0l234.667,234.667\
						c4.164,4.165,4.164,10.917,0,15.083L135.685,487.544C133.685,489.551,130.967,490.68,128.133,490.68z')
				.other-news-slider__prev.section-slider__prev
					svg(version='1.1' x='0px' y='0px' viewbox='0 0 490.8 490.8' style='enable-background:new 0 0 490.8 490.8;' xml:space='preserve')
						path(d='M362.671,490.787c-2.831,0.005-5.548-1.115-7.552-3.115L120.452,253.006\
						c-4.164-4.165-4.164-10.917,0-15.083L355.119,3.256c4.093-4.237,10.845-4.354,15.083-0.262c4.237,4.093,4.354,10.845,0.262,15.083\
						c-0.086,0.089-0.173,0.176-0.262,0.262L143.087,245.454l227.136,227.115c4.171,4.16,4.179,10.914,0.019,15.085\
						C368.236,489.664,365.511,490.792,362.671,490.787z')
						path(d='M362.671,490.787c-2.831,0.005-5.548-1.115-7.552-3.115L120.452,253.006c-4.164-4.165-4.164-10.917,0-15.083L355.119,3.256\
						c4.093-4.237,10.845-4.354,15.083-0.262c4.237,4.093,4.354,10.845,0.262,15.083c-0.086,0.089-0.173,0.176-0.262,0.262\
						L143.087,245.454l227.136,227.115c4.171,4.16,4.179,10.914,0.019,15.085C368.236,489.664,365.511,490.792,362.671,490.787z')
				.other-news-slider.section-slider
					.news-item
						img(src="static/img/content/news-item.png", alt="Новости").news-item__img
						h4.news-item__title Особенности интеграции систем видеонаблюдения
						.news-item__action
							p.news-item__date 12 апреля 2021
							p.news-item__views 120
						a(href="one-news.html").btn.btn_transparent Подробнее
					.news-item
						img(src="static/img/content/news-item.png", alt="Новости").news-item__img
						h4.news-item__title Особенности интеграции систем видеонаблюдения
						.news-item__action
							p.news-item__date 12 апреля 2021
							p.news-item__views 120
						a(href="one-news.html").btn.btn_transparent Подробнее
					.news-item
						img(src="static/img/content/news-item.png", alt="Новости").news-item__img
						h4.news-item__title Особенности интеграции систем видеонаблюдения
						.news-item__action
							p.news-item__date 12 апреля 2021
							p.news-item__views 120
						a(href="one-news.html").btn.btn_transparent Подробнее
					.news-item
						img(src="static/img/content/news-item.png", alt="Новости").news-item__img
						h4.news-item__title Особенности интеграции систем видеонаблюдения
						.news-item__action
							p.news-item__date 12 апреля 2021
							p.news-item__views 120
						a(href="one-news.html").btn.btn_transparent Подробнее
			.other-news-items_mobile.section-items
				.news-item
					img(src="static/img/content/news-item.png", alt="Новости").news-item__img
					h4.news-item__title Особенности интеграции систем видеонаблюдения
					.news-item__action
						p.news-item__date 12 апреля 2021
						p.news-item__views 120
					a(href="one-news.html").btn.btn_transparent Подробнее
				.news-item
					img(src="static/img/content/news-item.png", alt="Новости").news-item__img
					h4.news-item__title Особенности интеграции систем видеонаблюдения
					.news-item__action
						p.news-item__date 12 апреля 2021
						p.news-item__views 120
					a(href="one-news.html").btn.btn_transparent Подробнее
				.news-item
					img(src="static/img/content/news-item.png", alt="Новости").news-item__img
					h4.news-item__title Особенности интеграции систем видеонаблюдения
					.news-item__action
						p.news-item__date 12 апреля 2021
						p.news-item__views 120
					a(href="one-news.html").btn.btn_transparent Подробнее
				button.btn-action Еще новости

