extends ../layout/main

block variables
	- var title = 'Сотрудники';
	- var pageClass = 'staff-page';

block content
	section.staff.head-block__content
		.container
			h3.h3 Наша команда
			.staff-items.section-items
				.staff-items__block
					.staff-item
						.staff-item__img
							img(src="static/img/content/staff-img-1.png", alt="Игорь Иванов")
						p.staff-item__name Игорь Иванов
						p.staff-item__proffession Менеджер
						p.staff-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем 
					.staff-item
						.staff-item__img
							img(src="static/img/content/staff-img-2.png", alt="Светлана Петрова")
						p.staff-item__name Светлана Петрова
						p.staff-item__proffession Отдел аналитики
						p.staff-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем 
					.staff-item
						.staff-item__img
							img(src="static/img/content/staff-img-3.png", alt="Анастасия Морозова")
						p.staff-item__name Анастасия Морозова
						p.staff-item__proffession HR-менеджер
						p.staff-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем 
					.staff-item
						.staff-item__img
							img(src="static/img/content/staff-img-4.png", alt="Николай Васильев")
						p.staff-item__name Николай Васильев
						p.staff-item__proffession Руководитель охраны
						p.staff-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем 
				.staff-items__block
					.staff-item
						.staff-item__img
							img(src="static/img/content/staff-img-1.png", alt="Игорь Иванов")
						p.staff-item__name Игорь Иванов
						p.staff-item__proffession Менеджер
						p.staff-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем 
					.staff-item
						.staff-item__img
							img(src="static/img/content/staff-img-2.png", alt="Светлана Петрова")
						p.staff-item__name Светлана Петрова
						p.staff-item__proffession Отдел аналитики
						p.staff-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем 
					.staff-item
						.staff-item__img
							img(src="static/img/content/staff-img-3.png", alt="Анастасия Морозова")
						p.staff-item__name Анастасия Морозова
						p.staff-item__proffession HR-менеджер
						p.staff-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем 
					.staff-item
						.staff-item__img
							img(src="static/img/content/staff-img-4.png", alt="Николай Васильев")
						p.staff-item__name Николай Васильев
						p.staff-item__proffession Руководитель охраны
						p.staff-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем 
				
