.h1
	font-size 64px
	font-family boldFont
	line-height 80px
	background linear-gradient(92.94deg, #1A777E 0%, #1A98A6 100%)
	-webkit-background-clip text
	color transparent

.h3
	max-width 687px
	font-size 36px
	font-family boldFont
	color titleColor

.h4
	font-size 24px
	font-family boldFont
	line-height 29px

.h5
	font-size 18px
	font-family boldFont
	line-height 27px

.section-descr
	width 612px
	margin-top 62px

.section-margin
	margin 100px 0

.section-items
	margin-top 60px

.slick-slide
	margin-left 15px
	margin-right 15px
.slick-list
	margin-left -15px
	width calc(100% + 30px)

.section-slider
	.slick-dots
		position absolute
		bottom -89px
		li 
			background-color rgba(0, 0, 0, 0.15)
			&.slick-active
				background-color actionColor

.slick-dots
	display flex
	align-items center
	justify-content center
	li
		width 100px
		height 5px
		margin 0 16px
		border-radius 1px
		background-color #fff
		&.slick-active
			height 10px
			border-radius 3px
			background-color actionColor
		button
			width 100%
			height 100%
			&:before
				content none
				padding 0
				margin 0

.section-slider__next,
.section-slider__prev
	position absolute
	bottom 0
	width 50px
	height 50px
	border 1px solid rgba(0,0,0,0.15)
	border-radius 3px
	cursor pointer
	z-index 5
	svg
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		width 20px
		height 30px
		background-color transparent
		fill rgba(0,0,0,0.15)
	&:hover
		background-color #fff
		border 1px solid #000000
		svg
			fill #000000

.section-slider__prev
	left 29%

.section-slider__next
	right 29%
	
.btn
	height 60px
	line-height 50px
	min-width 240px
	border 1px solid transparent
	background-color mainColor
	color #ffffff
	font-size 16px
	font-family boldFont
	&:hover
		background-color #fff
		color titleColor

.btn_border
	border-color #ffffff
	&:hover
		border-color #fff
		background-color #fff
		color titleColor

.btn_transparent
	background-color transparent
	color titleColor
	border-color titleColor
	&:hover
		border-color titleColor
		background-color titleColor
		color #fff

.btn_white
	font-size 18px
	background-color #fff
	color blackColor
	&:hover
		border-color titleColor
		background-color titleColor
		color #fff

.btn_gradient
	background linear-gradient(93.58deg, #1A777E 0%, #1A98A6 99.22%)
	color #ffffff
	&:hover
		border-color titleColor
		background #fff
		color titleColor

.btn_green
	background-color greenBgColor
	border-color #ffffff
	&:hover
		background-color #fff
		color greenBgColor

.btn-action
	display block
	position relative
	padding 0
	border none
	background-color transparent
	color actionColor
	font-family boldFont
	line-height 22px
	cursor pointer
	&:hover
		text-decoration none
		color mainTextColor
		&:before
			background-color mainTextColor
	&:before
		content ''
		position absolute
		bottom -10px
		left 0
		width 100%
		height 3px
		border-radius 1px
		background-color actionColor

.btn-action_black
	margin 0 auto
	font-size 24px
	color #000000
	&:before
		background-color #000000
	&:hover
		color actionColor
		&:before
			background-color actionColor

.btn-mobile
	display none

.section-form__box
	display flex
	align-items center
	justify-content space-between
	margin-bottom 30px

.section-form__content
	display flex
	align-items center
	width 325px
	.checkbox
		&:last-child
			margin-bottom 0
	
.section-form__title
	max-width 180px
	margin 0

.section-form__btn
	width 30px
	height 30px
	padding 0
	border 1px solid mainColor
	border-radius 3px
	background-color #fff
	cursor pointer
	svg
		width 10px
		height 20px
		fill titleColor
	&:hover
		background-color titleColor
		border 1px solid titleColor
		svg
			fill #ffffff

.section-form__input
	width 100%
	height 60px
	padding 20px
	border 1px solid mainColor
	border-radius 5px
	background-color #fff
	&:focus
		border 1px solid #000
		&::placeholder
			color #000
				
.section-form__input_count
	height 30px
	width 45px
	border none
	background-color transparent
	text-align center

.section-form__info
	margin-top 60px
	.section-form__input
		margin-bottom 45px


.section-form
	margin 100px 0
	padding 57px 60px
	background-image url(../../static/img/content/section-form-bg.png)
	background-repeat no-repeat
	background-position right center
	background-color titleColor
	border-radius 5px
	color #ffffff
	.section-form__box
		justify-content flex-start
		margin-bottom 0
		.section-form__input
			width 250px
			margin-right 40px
			border none
			&:nth-child(3)
				width 300px

.section-form__descr
	width 620px
	margin 40px 0 34px

.section-form__wrap
	display flex

.section-form__img
	display none
	img
		width 100%


.select
	position relative
	display block
	width 100%
	height 60px
.new-select 
	position relative
	border 1px solid mainColor
	border-radius 5px
	background-color #fff
	padding 17px 20px
	cursor pointer
	user-select none
	&:after 
		content ''
		position absolute
		top 26px
		right 28px
		sprite($s-select-arrow)
		z-index 5
		-webkit-transition all .27s ease-in-out
		-o-transition all .27s ease-in-out
		transition all .27s ease-in-out
		-webkit-transform rotate(0deg)
		-ms-transform rotate(0deg)
		-o-transform rotate(0deg)
		transform rotate(0deg)
	&.on
		z-index 7
		&:after 
			-webkit-transform rotate(180deg)
			-ms-transform rotate(180deg)
			-o-transform rotate(180deg)
			transform rotate(180deg)
.new-select__list 
	position absolute
	top 57px
	left 0
	border 1px solid mainColor
	border-radius 0 0 5px 5px
	cursor pointer
	width 100%
	z-index 6
	background #fff
	user-select none
	&.on
		display block
.new-select__item 
	border-bottom 1px solid rgba(0, 0, 0, 0.25)
	span 
		display block
		padding 15px
		&:hover 
			color mainColor
	&:last-child
		border none


.section-form__box_checkbox
	align-items flex-start
	.section-form__content
		flex-direction column

.checkbox
	position relative
	display flex
	align-items center
	width 100%
	height 46px
	padding-left 60px
	margin-bottom 15px
	input[type="checkbox"]
		display none
		&:checked
			& + .custom-checkbox
				&:before
					width 30px
					height 30px
					background-color #ffffff
				&:after
					display inline-block
			
	.custom-checkbox
		position absolute
		left 0
		bottom 0
		&:before
			content ''
			display inline-block
			width 30px
			height 30px
			background-color #fff
			border 1px solid rgba(0, 0, 0, 0.25)
		&:after
			content ''
			position absolute
			top 24%
			left 50%
			transform translateX(-50%)
			display none
			width 12px
			height 12px
			sprite($s-check)


.js-slide__content_white
	width 777px
	padding 30px
	background-color rgba(255, 255, 255, 0.65)
	border-radius 5px
	
	
