@media screen and (max-width 1560px)
	.header-nav__menu
		width 83%
		margin-left 58px
		
	.section-slider__prev
		left 27%
	.section-slider__next
		right 27%

	.js-slider__next
		right 0	!important
	.js-slider__prev
		left 0	!important

	.licenses-slider__next
		right 18%
	.licenses-slider__prev
		left 18%

	.digit-item
		width 23%

	.request-form
		padding-top 0
		padding-bottom 0
		display flex
		flex-direction column
		justify-content center



@media screen and (max-width 1440px)
	.header-nav__menu
		margin-left 38px
		li
			padding 10px

	.header__contact
		.contact-phone
			margin-left 38px

	.head-block__slider
		.slick-dots
			bottom -105px		

	.section-slider__prev
		left 26%
	.section-slider__next
		right 26%

	.licenses-slider__next
		right 16%
	.licenses-slider__prev
		left 16%

	// control-page
	.control-page
		.js-slider
			width 666px

@media screen and (max-width 1340px)
	.hide-tablet
		display none

	.header-nav__menu
		width 90%

	.section-slider__prev
		left 24%
	.section-slider__next
		right 24%

	.licenses-slider__next
		right 14%
	.licenses-slider__prev
		left 14%
		
@media screen and (max-width 768px)
	.container
		width 94%

	.h1
		font-size 50px

	.header-nav__menu
		display none

	.header-nav__tablet
		.header-nav__menu
			display block

	.head-block
		background-position center 100px

	.header__action
		margin-right 76px
	.header__contact
		.contact-phone
			margin-left 80px
	.nav-mobile
		display block

	.head-block__content
		height 100%
		padding-top 259px
	.head-block__content
		flex-direction column

	.section-slider__prev
		left 3%
	.section-slider__next
		right 3%

	.head-form
		width 100%
		margin 46px 0 102px
	.head-block__slider
		.slick-dots
			bottom 3px
	.js-slider
		width 690px
	.js-slider__next,
	.js-slider__prev
		bottom 13px

	.advantages-item
		width 50%
		&:nth-child(2),
		&:nth-child(5)
			width 50%
		&:nth-child(3),
		&:nth-child(4)
			padding-top 60px
			padding-bottom 60px
		&:nth-child(-n+3)
			padding-left 0
		&:nth-last-child(-n+3)
			padding-left 0
		&:nth-child(3n+3)
			border-top 1px solid rgba(0, 0, 0, 0.25)
			border-right 1px solid rgba(0, 0, 0, 0.25)
		&:nth-child(2n+2)
			padding-left 15px
			border-right none

	.services
		margin-top 95px
	.services-items
		flex-direction column
		margin-top 59px
	.services-item__wrap
		flex-direction column
		margin-bottom 30px
		border-radius 5px
		overflow hidden
		&:nth-child(2n+2)
			flex-direction column-reverse
	.services-item
		width 100%
		height 411px
	.services-item_text
		padding 0 100px
		padding-top 75px
	.services-item_img
		max-width 100%

	.digit
		margin-top 71px
	.digit-items
		flex-wrap wrap
	.digit-item
		width 49%
		&:nth-child(-n+2)
			margin-bottom 60px

	.section-form
		min-height 630px
		padding-left 32px
		padding-right 25px
		background-image none
		.section-form__box
			display flex
			flex-direction column
			align-items flex-start
			justify-content space-between
			.section-form__input
				&:nth-child(3)
					width 250px
		.btn
			width 250px
	.section-form__img
		display block
	.section-form__img_tablet
		display block
	.section-form__img_mobile
		display none

	.solutions-items
		padding-bottom 83px
	.solutions-item	
		width 330px
		padding 28px
		img
			min-height 200px
	.solutions-item__descr
		margin-bottom 30px
	
	.completed-slider
		padding-left 30px
		padding-right 30px
	.completed-item__block_max
		width 100%
	.completed-item__block_min
		width 48%

	.clients-item
		width 50%
		&:nth-child(odd)
			background-color #fff
		&:first-child,
		&:nth-child(4n+4)
			background-color grayBgColor
	
	.comments-items
		padding-bottom 80px
	.comments-item
		padding 35px 30px
	.comments-item__title
		margin-bottom 40px
	.comments-item__text
		width 60%
		margin-left 40px

	.licenses
		.section-slider__next,
		.section-slider__prev
			bottom 15px
		.section-slider__next
			right 7%
		.section-slider__prev
			left 7%
	.licenses-items
		padding-left 30px
		padding-right 30px
		margin-bottom 0
		border-radius 5px 5px 0 0
	.licenses-item
		p
			width 191px
			margin-top 27px
	.licenses-item__img
		img
			min-height 265px
	.licenses-action
		position static
		width 100%
		height 200px
		background-image none
		bottom -170px
		left 14px
		background-color grayBgColor
		border-radius 0 0 5px 5px
	.licenses-action__content
		left 32px
		bottom 64px
		right auto
		p 
			width auto
	.licenses-slider__next
		right 1%
	.licenses-slider__prev
		left 1%

	.request
		margin-bottom 90px !important
	.request-items
		flex-direction column
	.request-item
		width 100%
	.request-item__img
		img
			min-height 528px
	.request-item__text
		bottom 47px
		left 31px
	.request-form
		width 100%
		padding 67px 60px


	.footer-content__top,
	.footer-content__bottom
		display none
	.footer-content__tablet
		display flex
		.footer-block
			width 432px
		.footer-content__bottom
			display block
			position absolute
			bottom -48px
			left 0
			p 
				min-width 195px
	.footer-block
		margin-right 0
	.footer-contact
		.contact-phone
			margin-bottom 14px
			margin-right 9px
	.footer-info
		position relative

	// control-page
	.service-item__content
		padding 30px
	.service-item__price
		display none
	.service-item__price_tablet
		display block
		margin 20px 0

	.stages-item
		width 40%
		margin-bottom 30px
		&:last-child
			margin-bottom 0

	// fire-page
	.js-slide__content_white
		width 678px

	.engineering-item
		flex-direction column

	.engineering-item__img
		width 100%
	.engineering-item__content
		width 100%

	.documents-item
		flex-direction column
	.documents-item__content
		width 100%
	.documents-item__text
		margin 60px 0

	// security-page
	.security-items
		flex-direction column
		align-items center
	.security-item
		width 475px	
		&.active
			.security-item__hide
				position relative
				bottom auto
				left 0
				padding 0
	
	.smartphone-control-item
		flex-direction column
	.smartphone-control-item__img
		width 70%
		margin 0 auto
		margin-bottom 60px
	.smartphone-control-item__text
		width 100%

	// cable-page
	.cable-networks-page
		.head-block__content
			height auto
			padding-top 159px
			padding-bottom 100px
		.js-slide__content
			width 690px
			padding 30px
		
	.cable-networks__content
		flex-direction column

	.cable-networks__sum
		display block
		margin-top 15px
		margin-left 0

	.cable-networks__form
		width 100%
		margin-top 50px
		.section-form__info
			margin 30px 0

	// video-home-page
	.video-home-page
		.head-block__slider
			.slick-dots
				margin-bottom 33px
		.request-items
			flex-direction column
		.request-item
			width 100%
			order 2
		.request-form
			width 100%
		.completed-items
			flex-direction column
		.completed-item
			width 100%
			margin-bottom 60px
			&:last-child
				margin-bottom 0
		.completed-item__block
			width 100%

	.reviews-item
		flex-direction column
	.reviews-item__img
		width 100%
		height 337px
		overflow hidden
		img
			transform translateY(-20px)
	.reviews-item__text
		width 100%
		padding 30px


	// security-home-page
	.tariffs-items
		flex-direction column
	.tariffs-item
		width 100%
		margin-bottom 60px
		&:last-child
			margin-bottom 0
	.tariffs-item__table
		width 100%
	.tariffs-item__table
		tbody
			td
				&:first-child
					padding 0
			td
				&:last-child
					padding 0

	// projects
	.projects-page
		.h1
			font-size 72px
		.js-slide__content
			width 100%
			flex-wrap wrap
	.projects-info
		width 35%

	.project-item
		flex-direction column
		padding 20px
	.project-item__img
		margin-bottom 60px
	.project-item__text
		margin 0


	// popup
	.popup
		//

	.popup__content
		width 90%
		margin 0 auto
		height 90%
		overflow scroll
		padding 15px

	.popup__content_black
		width 90%
		margin 0 auto
		height 90%
		overflow scroll

	.section-form-popup,
	.calculate-form-popup
		.popup__content
			padding 30px
		.section-form__info
			margin-top 15px
		.section-form__input
			margin-bottom 15px

	.services-popup
		.popup__content
			flex-direction column
		.services-item
			height auto

	.solutions-popup
		.popup__content
			flex-direction column
			height 100%
		.solutions-item__text
			margin-left 0
		.solutions-item__img
			height 500px
			overflow hidden
			img
				width 100%
				height auto
				transform translateY(-80px)

	.completed-popup
		.popup__content
			flex-direction column
			.project-item__text
				width auto
				margin-top 30px
		.completed-popup__slider
			width 100%
		.completed-popup__nav
			height 50px

	.sets-popup
		.sets-item__block
			flex-direction column
		
			
@media screen and (max-width 480px)
	.hide-mobile
		display none
	
	.h1
		font-size 30px
		line-height 125%
	.h3
		font-size 28px

	.section-descr
		width auto

	.section-margin
		margin 60px 0
	
	.section-items
		margin-top 30px

	.btn
		width 100%

	.btn-mobile
		display block

	.header__action
		display none
	.email-mobile,
	.phone-mobile
		display flex
	.logo
		img
			width 100px
	.header-nav
		flex 0

	.js-slider
		width 400px
	.js-slide__text
		p
			width auto

	.slick-dots
		li 
			width 30px
			height 3px
			margin 0 8px
			&.slick-active
				height 5px

	.head-form
		height auto
		padding 15px
		.btn
			display none
		.btn-mobile
			display block
	.section-form__box
		flex-direction column
		align-items flex-start
	.section-form__title
		width 100%
		margin-bottom 15px
	.section-form__content
		width 100%
		input
			font-weight bold
			color actionColor
	.section-form__info
		margin-top 30px
		.section-form__box
			margin-bottom 30px
	
	.advantages-item
		width 100%
		&:nth-child(-n+3),
		&:nth-last-child(-n+3)
			border none
		&:nth-child(-n+3)
			padding-top 0
			padding-bottom 39px
		&:nth-child(2n+2)
			padding-left 0
		&:nth-child(2),
		&:nth-child(5)
			width 100%
		&:nth-child(3),
		&:nth-child(4)
			padding-top 0
			padding-bottom 39px
		&:nth-last-child(-n+3)
			padding-top 0
			padding-bottom 39px

	.services-item
		height auto
		min-height 159px
		.btn
			width 100%
	.services-item_text
		padding 15px
	.services-item__descr
		margin 15px 0

	.digit-item
		width 100%
		margin-bottom 30px
		&:nth-child(-n+2)
			margin-bottom 30px

	.section-form
		padding 15px
		padding-bottom 30px
		.section-form__box
			order 2
			.section-form__input
				width 100%
				margin-bottom 15px
				&:nth-child(3)
					width 100%
		.btn
			width 100%
	.section-form__wrap
		flex-direction column
	.section-form__descr
		width auto
		margin 15px 0 30px
	.section-form__img
		display flex
		order 1
		margin-bottom 30px
	.section-form__img_tablet
		display none
	.section-form__img_mobile
		display block

	.checkbox
		padding-left 45px

	.solutions-item
		width 100%
		padding 15px
		.btn
			width 100%
	.solutions-item__title
		margin-top 15px
	.solutions-item__descr
		margin 15px 0
	
	.completed-item__wrap
		flex-direction column
	.completed-item__block_min
		width 100%
		margin-bottom 30px
		&:last-child
			margin-bottom 0
	.completed-slider
		padding 20px

	.clients-item
		width 100%

	.comments-item
		flex-direction column
		padding 20px
	.comments-item__img
		width 100%
	.comments-item__text
		width 100%
		margin 0
	.comments-item__title
		margin 15px 0 30px
	
	.licenses-action
		width 93%
		height auto
	.licenses-action__content
		position static
		padding 30px

	.request-item__img
		border-radius 5px
		overflow hidden
		img
			min-height 250px
	.request-item__text
		position static
		margin-top 15px
		color mainTextColor
	.request-item__descr
		width auto
	.request-item__title
		margin 15px 0

	.request-form
		margin-top 30px
		padding 20px
		.btn
			display none
		.btn-mobile
			display block
		.section-form__box
			margin-bottom 15px
		.new-select
			padding 5px 20px
		.new-select__list
			top 57px
		.new-select__item
			span
				padding 10px

	.footer-content
		padding 30px 0
	.footer-content__tablet
		justify-content space-between
		order 1
		margin-bottom 30px
		.footer-block
			width auto
	.footer-contact
		display none
	.footer-block
		flex-direction column
	.footer-menu
		li
			margin-bottom 15px
	.footer-block__title
		margin-bottom 15px
		font-size 20px
		&:last-child
			margin-bottom 0
	.contact-email
		display none
	.footer-info
		.footer-content__bottom
			display none
		.email-mobile,
		.phone-mobile
			background-color #fff
			svg
				fill #06272A
			&:hover
				background-color actionColor
				svg
					fill #ffffff
	.footer-content__bottom
		display flex
		order 2
		justify-content center
		align-items center

	// control-page
	.control-page
		.js-slider
			width 400px

	.service-item
		flex-direction column
	.service-item__img
		width 100%
	.service-item__content
		width 100%

	.stages-item
		width 100%

	// fire-page
	.js-slide__content_white
		width 400px

	.engineering-item__content
		padding 30px
	.engineering-item__services
		flex-wrap wrap
	.engineering-item__service
		width 45%
		margin-bottom 15px
	.engineering-item__text
		margin 15px 0

	.documents-item__content
		.btn
			display none
		.btn-mobile
			width 100%
			display block
	.documents-item__img
		width 60%
	.documents-item__img_rotate
		width 45%
		top 35px
		left 40%

	// security-page
	.security-items
		padding 15px
	.security-item
		width 100%
		padding 15px

	.smartphone-control
		.btn-action_light
			color rgba(0,0,0,.5)
	.smartphone-control-item__img
		width 80%
		margin 0 auto
		margin-bottom 30px
		&:before
			left 50%
			transform translate(-44%,-40%)
			background-image url(../../static/img/content/video/smartphone-logo-mob.png)
	.smartphone-control-item__link
		width auto
		img
			width 80%


	// cable-page
	.cable-networks-page
		.js-slide__content
			width 400px

	.cable-networks__list
		width auto
	.cable-networks__list-item
		flex-wrap wrap
	.cable-networks__titles
		p
			&:first-child
				min-width auto
			&:nth-last-child(-n+2)
				display none
	.cable-networks__endprice
		.h4
			font-size 20px

	// video-home-page
	.video-home-page
		.head-block__slider
			width auto
		.js-slide__content
			width 100%
		.js-slide__btn
			button
				margin 0
				margin-bottom 30px
				&:last-child
					margin-bottom 0
		.request-form
			padding 15px
			.section-form__content
				width 100%
			.new-select
				padding 20px
			.section-form__input
				margin-bottom 30px
		.section-form__text
			display none
		.completed-item
			margin-bottom 30px
	
	.sets-item__block
		flex-direction column
		margin-bottom 0
	.sets-item__action
		flex-direction column
		align-items flex-start
		p 
			margin-bottom 15px
	.sets-item__img
		max-width 100%
	.sets-item__info
		flex-direction row
		justify-content space-between
		flex-wrap wrap
		margin 15px 0
	.sets-item__info-block
		width 40%
		p 
			margin-left 10px
	
	.reviews-item__text
		padding 20px
	.reviews-item__img
		height 170px
		
	
	// security-home-page
	.tariffs-list
		margin 30px 0
	.tariffs-item
		padding 20px
		padding-bottom 30px
	.tariffs-list__item-title
		width 110px
	.tariffs-list__item-count
		width auto
		min-width 37px
		text-align right


	// projects
	.projects-page
		.h1
			font-size 36px
		.js-slide__content
			padding 30px
			margin-top 30px
			justify-content center
	.projects-info
		width 100%
		margin-bottom 30px
		&:last-child
			margin-bottom 0
	.project-item__img
		flex-direction column
		margin-bottom 30px
	.project-item__img-wrap
		flex-direction row
		margin 0
		margin-top 15px
		img
			width 47.5%
	.project-item__descr
		margin 15px 0
	.project-item__info
		margin-bottom 15px


	// popup
	.popup
		overflow scroll

	.popup__content
		width 90%
		margin 0 auto

	.popup__content_black
		width 90%
		margin 0 auto

	.section-form-popup,
	.calculate-form-popup
		.popup__content
			width 90%
			margin 0 auto

	.services-popup
		.services-item
			min-height auto

	.sent-success-popup
		.popup__content
			width 90%
			margin 0 auto
			text-align center

	.sets-popup
		.popup__content
			height 90%
		.sets-item__info-block
			width 50%
			p
				margin 0 10px
		.sets-item__action
			margin 15px 0

@media screen and (max-width 750px)
	/**/

@media screen and (max-width 500px)
	/**/
			
@media screen and (max-width 400px)
	/**/

@media screen and (max-width 320px)
	html
		font-size 14px
	.container
		width 90%
	.h1
		font-size 24px
	.h3
		font-size 20px
		margin 0
	.h4
		font-size 16px
		line-height 20px
		margin 0
	.btn
		min-width 230px
	.section-descr
		margin-top 31px

	.section-slider
		.slick-dots
			bottom -55px
			li
				width 20px
				margin 0 4px

	.section-slider__prev
		left 0%
	.section-slider__next
		right 0%

	.header__content
		height 122px
	.logo
		img
			width 71px
	.email-mobile
		margin-right 15px
	.phone-mobile
		margin-right 15px
	.nav-mobile
		width 38px
		height 38px
		top 8px
		right -3px
	.nav-mobile__line
		width 38px
	.nav-mobile__line-top
		top -4px
	.nav-mobile__line-bottom
		top 14px
	

	.head-block__content
		width 250px
		padding-top 177px
	.js-slider
		width 250px
	.js-slide__text
		margin-bottom 35px
		h1
			margin-bottom 31px
	.js-slider__next,
	.js-slider__prev
		bottom 29px
	.head-block__slider
		.slick-dots
			bottom 23px
			li
				width 20px
				margin 0 4px
	.head-form
		width 261px
		margin 0 0 68px

	.section-form__box
		margin-bottom 12px
		label
			margin-bottom 12px
	.section-form__info
		.section-form__box
			margin-bottom 15px

	.advantages
		margin-top 60px
	.advantages-item__descr
		width auto

	.services
		margin-top 20px
	.services-item__wrap
		width 261px
	.services-item_img
		height 159px

	.digit
		margin-top 16px
		.h4
			margin 11px 0
			font-size 20px
	.section-form
		margin 27px 0 63px

	.solutions-items
		padding-bottom 46px
	.solutions-item__img
		img
			min-height 149px
			height 149px
	.solutions-item__title
		font-size 16px

	.completed-items
		padding-bottom 53px
	.completed-item__block
		height 170px

	.clients-items
		padding-bottom 48px
	.clients-item
		height 260px

	.comments
		.section-items
			margin-top 80px
		.slick-dotted.slick-slider
			margin-bottom 0
		.section-slider
			.slick-dots
				bottom -43px
	.comments-items
		padding-bottom 65px
	.comments-item
		padding 15px
		padding-top 28px
	.comments-item__title
		margin 30px 0 15px
		font-size 16px
		
	.licenses
		.section-slider
			.slick-dots
				bottom -39px
		.section-slider__next,
		.section-slider__prev
			bottom 15px
		.section-slider__next
			right 20%
		.section-slider__prev
			left 20%
	.licenses-items
		padding 15px
		padding-bottom 40px
	.licenses-item
		p
			margin-top 15px
		width 100%
	.licenses-action__content
		padding 30px 15px
		p
			margin-bottom 15px
		button
			font-size 16px

	.request
		padding-top 22px
		margin-bottom 67px !important
	.request-item__name
		font-size 16px
	.request-form
		padding 15px
		.h4
			margin-bottom 15px
			color #00737A
		.new-select
			padding 8px 20px

	.footer-info
		height 174px
	.footer-block__title
		margin-bottom 11px
		font-size 16px
	.footer-block__item
		max-width 152px
	.footer-menu
		li
			margin-bottom 18px

	.header-nav__tablet
		width 320px
		top 0
		right -15px
		









