@media screen and (max-width 1560px)
	.header-nav__menu
		width 83%
		margin-left 58px
		
	.section-slider__prev
		left 27%
	.section-slider__next
		right 27%

	.js-slider__next
		right 0
	.js-slider__prev
		left 0

	.licenses-slider__next
		right 18%
	.licenses-slider__prev
		left 18%



@media screen and (max-width 1440px)
	.section-slider__prev
		left 26%
	.section-slider__next
		right 26%

	.js-slider__next
		right 0
	.js-slider__prev
		left 0

	.licenses-slider__next
		right 17%
	.licenses-slider__prev
		left 17%

@media screen and (max-width 1100px)
	/**/
		
@media screen and (max-width 950px)
	/**/
		
@media screen and (max-width 900px)
	/**/

@media screen and (max-width 750px)
	/**/

@media screen and (max-width 500px)
	/**/
			
@media screen and (max-width 400px)
	/**/

@media screen and (max-width 350px)
	/**/









