$s-add = 0px 0px 0px 0px 30px 30px 112px 75px 'sprite.png';
$s-cancel = 45px 0px -45px 0px 30px 30px 112px 75px 'sprite.png';
$s-check = 90px 0px -90px 0px 22px 16px 112px 75px 'sprite.png';
$s-close-black = 0px 45px 0px -45px 30px 30px 112px 75px 'sprite.png';
$s-close = 45px 45px -45px -45px 30px 30px 112px 75px 'sprite.png';
$s-select-arrow = 90px 31px -90px -31px 16px 9px 112px 75px 'sprite.png';
