$s-arrow-menu = 0px 65px 0px -65px 22px 14px 115px 79px 'sprite.png';
$s-arrow-menu2 = 37px 65px -37px -65px 22px 12px 115px 79px 'sprite.png';
$s-select-arrow = 74px 65px -74px -65px 16px 9px 115px 79px 'sprite.png';
$s-slider-next = 0px 0px 0px 0px 50px 50px 115px 79px 'sprite.png';
$s-slider-prev = 65px 0px -65px 0px 50px 50px 115px 79px 'sprite.png';
