//// цвета



//// цвет текста




//// шрифты

mainFont =	"", Arial, sans-serif
boldFont =	"", Arial, sans-serif
mediumFont =	"", Arial, sans-serif
boldestFont =	"", Arial, sans-serif
lightFont =	"", Arial, sans-serif
TitleFont =	"", Arial, sans-serif