//// цвета
actionColor = #1A98A6
mainColor = #00737A
titleColor = #115B64
grayBgColor = #F8F8F8
blackColor = #06272B

//// цвет текста
mainTextColor = #000000



//// шрифты

mainFont =	"Montserrat-Regular", Arial, sans-serif
boldFont =	"Montserrat-Bold", Arial, sans-serif
mediumFont =	"", Arial, sans-serif
boldestFont =	"", Arial, sans-serif
lightFont =	"", Arial, sans-serif
TitleFont =	"", Arial, sans-serif