section.advantages
	.container
		h3.h3 Наши преимущества
		p.section-descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
		.advantages-items.section-items
			.advantages-item
				.advantages-item__img
					img(src="static/img/content/video/verified.png", alt="Гарантия")
				h5.h5 Гарантия 2 года
				p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы
			.advantages-item
				.advantages-item__img
					img(src="static/img/content/video/suitcase.png", alt="Низкая стоимость")
				h5.h5 Низкая стоимость
				p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы
			.advantages-item
				.advantages-item__img
					img(src="static/img/content/video/film.png", alt="Современный дизайн")
				h5.h5 Современный дизайн
				p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы
			.advantages-item
				.advantages-item__img
					img(src="static/img/content/video/rss.png", alt="Быстрое подключение")
				h5.h5 Быстрое подключение
				p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы
			.advantages-item
				.advantages-item__img
					img(src="static/img/content/video/clipboard.png", alt="Прозрачный договор")
				h5.h5 Прозрачный договор
				p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы
			.advantages-item
				.advantages-item__img
					img(src="static/img/content/video/headphones.png", alt="Поддержка и сервис")
				h5.h5 Поддержка и сервис
				p.advantages-item__descr Полная гарантия на все оборудование и монтажные работы