section.digit
	.container
		h3.h3 Наш опыт в цифрах
		.digit-items.section-items
			.digit-item
				p.digit-item__count 20
				h4.h4 лет опыта
				p.digit-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
			.digit-item
				p.digit-item__count 350
				h4.h4 объектов
				p.digit-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
			.digit-item
				p.digit-item__count 70
				h4.h4 проверок
				p.digit-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
			.digit-item
				p.digit-item__count 6800
				h4.h4 километров
				p.digit-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта