section.documents.section-margin
	.container
		h3.h3 Вы получите полный пакет документов
		.documents-item.section-items
			.documents-item__images
				img(src="static/img/content/video/document.png", alt="Документ").documents-item__img
				img(src="static/img/content/video/document.png", alt="Документ").documents-item__img_rotate
			.documents-item__content
				.documents-item__text
					p.documents-item__descr Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
					p.documents-item__descr Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
				button.btn.btn_gradient.section-form-popup__btn Получить коммерческое предложение
				button.btn.btn-mobile.btn_gradient.section-form-popup__btn Получить КП