section.engineering.section-margin
	.container
		h3.h3 Проектирование пожарных систем
		.engineering-items.section-items
			.engineering-item
				.engineering-item__img
					img(src="static/img/content/video/engineering-img.png", alt="Проектирование")
				.engineering-item__content
					.engineering-item__services
						.engineering-item__service
							.engineering-item__service-img
								img(src="static/img/content/video/headphones-white.png", alt="Поддержка и сервис")
							p.engineering-item__service-title Обслуживание 24/7
						.engineering-item__service
							.engineering-item__service-img
								img(src="static/img/content/video/clipboard-white.png", alt="Прозрачный договор")
							p.engineering-item__service-title Прозрачный договор
						.engineering-item__service
							.engineering-item__service-img
								img(src="static/img/content/video/rss-white.png", alt="Быстрое подключение")
							p.engineering-item__service-title Быстрое подключение
						.engineering-item__service
							.engineering-item__service-img
								img(src="static/img/content/video/verified-white.png", alt="Гарантия")
							p.engineering-item__service-title Гарантия 2 года
					p.engineering-item__descr Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
					p.engineering-item__descr Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
					a(href="#").btn.btn_white.section-form-popup__btn Заказать проектирование