section.form-section
	.container
		form.section-form
			h4.h4 Оставьте заявку на бесплатную консультацию
			p.section-form__descr Мы ответим на все интересующие Вас вопросы и расскажем  об уникальных особенностях нашего оборудования
			.section-form__wrap
				.section-form__box
					input(type="text" placeholder="Ваше имя").section-form__input
					input(type="text" placeholder="Ваш e-mail").section-form__input
					input(type="text" placeholder="Ваш номер телефона").section-form__input
					button(type="submit").btn.section-form-popup__btn Оставить заявку
				.section-form__img
					img(src="static/img/content/section-form-img.png", alt="Изображение формы").section-form__img_tablet
					img(src="static/img/content/section-form-phone.png", alt="Изображение формы").section-form__img_mobile