section.projects.section-margin
	.container
		.projects-content
			.project-item
				.project-item__img
					img(src="static/img/content/video/project-img-big.png", alt="Двухэтажный коттедж")
					.project-item__img-wrap
						img(src="static/img/content/video/project-img-small.png", alt="Двухэтажный коттедж")
						img(src="static/img/content/video/project-img-small.png", alt="Двухэтажный коттедж")
				.project-item__text
					h4.h4 Двухэтажный коттедж и придомовая территория
					p.project-item__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения и уточнения модели развития. Не следует, однако забывать, что консультация с широким активом позволяет выполнять важные задания по разработке новых предложений. 
					p.project-item__info Площадь:
						span.project-item__info-square 123 м<sup>2</sup>
					p.project-item__info Количество камер:
						span.project-item__info-count 665
			.project-item
				.project-item__img
					img(src="static/img/content/video/project-img-big.png", alt="Двухэтажный коттедж")
					.project-item__img-wrap
						img(src="static/img/content/video/project-img-small.png", alt="Двухэтажный коттедж")
						img(src="static/img/content/video/project-img-small.png", alt="Двухэтажный коттедж")
				.project-item__text
					h4.h4 Двухэтажный коттедж и придомовая территория
					p.project-item__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения и уточнения модели развития. Не следует, однако забывать, что консультация с широким активом позволяет выполнять важные задания по разработке новых предложений. 
					p.project-item__info Площадь:
						span.project-item__info-square 123 м<sup>2</sup>
					p.project-item__info Количество камер:
						span.project-item__info-count 665
			.project-item
				.project-item__img
					img(src="static/img/content/video/project-img-big.png", alt="Двухэтажный коттедж")
					.project-item__img-wrap
						img(src="static/img/content/video/project-img-small.png", alt="Двухэтажный коттедж")
						img(src="static/img/content/video/project-img-small.png", alt="Двухэтажный коттедж")
				.project-item__text
					h4.h4 Двухэтажный коттедж и придомовая территория
					p.project-item__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения и уточнения модели развития. Не следует, однако забывать, что консультация с широким активом позволяет выполнять важные задания по разработке новых предложений. 
					p.project-item__info Площадь:
						span.project-item__info-square 123 м<sup>2</sup>
					p.project-item__info Количество камер:
						span.project-item__info-count 665
			.project-item
				.project-item__img
					img(src="static/img/content/video/project-img-big.png", alt="Двухэтажный коттедж")
					.project-item__img-wrap
						img(src="static/img/content/video/project-img-small.png", alt="Двухэтажный коттедж")
						img(src="static/img/content/video/project-img-small.png", alt="Двухэтажный коттедж")
				.project-item__text
					h4.h4 Двухэтажный коттедж и придомовая территория
					p.project-item__descr Равным образом консультация с широким активом способствует подготовки и реализации существенных финансовых и административных условий. Товарищи! реализация намеченных плановых заданий требуют определения и уточнения модели развития. Не следует, однако забывать, что консультация с широким активом позволяет выполнять важные задания по разработке новых предложений. 
					p.project-item__info Площадь:
						span.project-item__info-square 123 м<sup>2</sup>
					p.project-item__info Количество камер:
						span.project-item__info-count 665
			button.btn-action.btn-action_black Показать все проекты
		
			
