section.security.section-margin
	.container
		h3.h3 Элементы системы
		.security-items.section-items
			.security-item
				.security-item__img
					img(src="static/img/content/video/security-img-1.png", alt="Датчики и пункт управления")
				.security-item__visible
					h4.h4 Датчики и пункт управления
					p.security-item__descr Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет
					button.btn-action Подробнее
				.security-item__hide
					h4.h4 Датчики и пункт управления
					p.security-item__descr_full Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
			.security-item
				.security-item__img
					img(src="static/img/content/video/security-img-2.png", alt="Тревожная кнопка")
				.security-item__visible
					h4.h4 Тревожная кнопка
					p.security-item__descr Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет
					button.btn-action Подробнее
				.security-item__hide
					h4.h4 Тревожная кнопка
					p.security-item__descr_full Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
			.security-item
				.security-item__img
					img(src="static/img/content/video/security-img-3.png", alt="Блок альтернативного питания")
				.security-item__visible
					h4.h4 Блок альтернативного питания
					p.security-item__descr Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет
					button.btn-action Подробнее
				.security-item__hide
					h4.h4 Блок альтернативного питания
					p.security-item__descr_full Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.