section.service.section-margin
	.container
		h3.h3 Комплекты услуг
		.service-items.section-items
			.service-item
				.service-item__img
					img(src="static/img/content/video/service-img.png", alt="Установка шлагбаумов")
				.service-item__content
					.service-item__text
						h4.h4 Установка шлагбаумов
						.service-item__price
							span.service-item__price-title Цена:
							| от 19 999 руб.
					p.service-item__descr Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
					a(href="#").btn.btn_white Заказать установку
			.service-item
					.service-item__img
						img(src="static/img/content/video/service-img.png", alt="Установка шлагбаумов")
					.service-item__content
						.service-item__text
							h4.h4 Установка шлагбаумов
							.service-item__price
								span.service-item__price-title Цена:
								| от 19 999 руб.
						p.service-item__descr Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
						a(href="#").btn.btn_white Заказать установку
			.service-item
					.service-item__img
						img(src="static/img/content/video/service-img.png", alt="Установка шлагбаумов")
					.service-item__content
						.service-item__text
							h4.h4 Установка шлагбаумов
							.service-item__price
								span.service-item__price-title Цена:
								| от 19 999 руб.
						p.service-item__descr Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
						a(href="#").btn.btn_white Заказать установку
			.service-item
					.service-item__img
						img(src="static/img/content/video/service-img.png", alt="Установка шлагбаумов")
					.service-item__content
						.service-item__text
							h4.h4 Установка шлагбаумов
							.service-item__price
								span.service-item__price-title Цена:
								| от 19 999 руб.
						p.service-item__descr Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации. Задача организации, в особенности же новая модель организационной деятельности позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
						a(href="#").btn.btn_white Заказать установку
			button.btn-action Показать все услуги
