section.services
	.container
		h3.h3 Наши услуги
		.services-items.section-items
			.services-item__wrap
				.services-item.services-item_img
					img(src="static/img/content/video/services-img-1.png", alt="Проектирование видеонаблюдения")
				.services-item.services-item_text
					h4.h4 Проектирование видеонаблюдения
					p.services-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
					button.btn.btn_border.services-popup__btn Подробнее
			.services-item__wrap
				.services-item.services-item_white.services-item_text
					h4.h4 Проектирование видеонаблюдения
					p.services-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
					button.btn.btn_transparent.services-popup__btn Подробнее
				.services-item.services-item_img
					img(src="static/img/content/video/services-img-2.png", alt="Проектирование видеонаблюдения")
			.services-item__wrap
				.services-item.services-item_img
					img(src="static/img/content/video/services-img-3.png", alt="Проектирование видеонаблюдения")
				.services-item.services-item_text
					h4.h4 Проектирование видеонаблюдения
					p.services-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
					button.btn.btn_border.services-popup__btn Подробнее
			.services-item__wrap
				.services-item.services-item_white.services-item_text
					h4.h4 Проектирование видеонаблюдения
					p.services-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
					button.btn.btn_transparent.services-popup__btn Подробнее
				.services-item.services-item_img
					img(src="static/img/content/video/services-img-4.png", alt="Проектирование видеонаблюдения")