section.stages.section-margin
	.container
		h3.h3 Этапы работ
		.stages-items.section-items
			.stages-item
				p.stages-item__count 01
				p.stages-item__title Выезд мастера
				p.stages-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
			.stages-item
				p.stages-item__count 02
				p.stages-item__title Выезд мастера
				p.stages-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
			.stages-item
				p.stages-item__count 03
				p.stages-item__title Выезд мастера
				p.stages-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
			.stages-item
				p.stages-item__count 04
				p.stages-item__title Выезд мастера
				p.stages-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта
			.stages-item
				p.stages-item__count 05
				p.stages-item__title Выезд мастера
				p.stages-item__descr Осуществляем проектирование, монтаж, обслуживание, модернизацию и интгерацию систем видеонаблюдения для вашего объекта