section.tariffs.section-margin
	.container
		h3.h3 Тарифы
		.tariffs-items.section-items
			.tariffs-item
				h4.h4 Базовый
				ul.tariffs-list
					li.tariffs-list__item
						p.tariffs-list__item-title Датчики движения
						.check-icon.check-icon_add
						p.tariffs-list__item-count 3 шт.
					li.tariffs-list__item
						p.tariffs-list__item-title Датчики отрываия дверей
						.check-icon.check-icon_add
						p.tariffs-list__item-count 1 шт.
					li.tariffs-list__item
						p.tariffs-list__item-title Контрольная панель
						.check-icon.check-icon_add
						p.tariffs-list__item-count 1 шт.
					li.tariffs-list__item
						p.tariffs-list__item-title Бесплатная установка
						.check-icon.check-icon_cancel
						p.tariffs-list__item-count
					li.tariffs-list__item
						p.tariffs-list__item-title Экипаж ЧОП
						p.tariffs-list__item-count 3 000 руб.
					li.tariffs-list__item
						p.tariffs-list__item-title Экипаж Росгвардия
						p.tariffs-list__item-count 3 000 руб.
				button.btn.btn_white.section-form-popup__btn Оставить заявку
			.tariffs-item
				h4.h4 Базовый
				ul.tariffs-list
					li.tariffs-list__item
						p.tariffs-list__item-title Датчики движения
						.check-icon.check-icon_add
						p.tariffs-list__item-count 3 шт.
					li.tariffs-list__item
						p.tariffs-list__item-title Датчики отрываия дверей
						.check-icon.check-icon_add
						p.tariffs-list__item-count 1 шт.
					li.tariffs-list__item
						p.tariffs-list__item-title Контрольная панель
						.check-icon.check-icon_add
						p.tariffs-list__item-count 1 шт.
					li.tariffs-list__item
						p.tariffs-list__item-title Бесплатная установка
						.check-icon.check-icon_cancel
						p.tariffs-list__item-count
					li.tariffs-list__item
						p.tariffs-list__item-title Экипаж ЧОП
						p.tariffs-list__item-count 3 000 руб.
					li.tariffs-list__item
						p.tariffs-list__item-title Экипаж Росгвардия
						p.tariffs-list__item-count 3 000 руб.
				button.btn.btn_white.section-form-popup__btn Оставить заявку
			.tariffs-item
				h4.h4 Базовый
				ul.tariffs-list
					li.tariffs-list__item
						p.tariffs-list__item-title Датчики движения
						.check-icon.check-icon_add
						p.tariffs-list__item-count 3 шт.
					li.tariffs-list__item
						p.tariffs-list__item-title Датчики отрываия дверей
						.check-icon.check-icon_add
						p.tariffs-list__item-count 1 шт.
					li.tariffs-list__item
						p.tariffs-list__item-title Контрольная панель
						.check-icon.check-icon_add
						p.tariffs-list__item-count 1 шт.
					li.tariffs-list__item
						p.tariffs-list__item-title Бесплатная установка
						.check-icon.check-icon_cancel
						p.tariffs-list__item-count
					li.tariffs-list__item
						p.tariffs-list__item-title Экипаж ЧОП
						p.tariffs-list__item-count 3 000 руб.
					li.tariffs-list__item
						p.tariffs-list__item-title Экипаж Росгвардия
						p.tariffs-list__item-count 3 000 руб.
				button.btn.btn_white.section-form-popup__btn Оставить заявку
			
			