section.tariffs.section-margin
	.container
		h3.h3 Тарифы
		.tariffs-items.section-items
			.tariffs-item
				h4.h4 Базовый
				table.tariffs-item__table
					tbody
						tr
							td Датчики движения
							td.check-icon.check-icon_add
							td 3 шт.
						tr
							td Датчики отрываия дверей
							td.check-icon.check-icon_add
							td 1 шт.
						tr
							td Контрольная панель 
							td.check-icon.check-icon_add
							td 1 шт.
						tr
							td Бесплатная установка
							td.check-icon.check-icon_cancel
							td
						tr
							td Экипаж ЧОП
							td
							td 3 000 руб.
						tr
							td Экипаж Росгвардия
							td
							td 3 000 руб.
				button.btn.btn_white Оставить заявку
			.tariffs-item
				h4.h4 Базовый
				table.tariffs-item__table
					tbody
						tr
							td Датчики движения
							td.check-icon.check-icon_add
							td 3 шт.
						tr
							td Датчики отрываия дверей
							td.check-icon.check-icon_add
							td 1 шт.
						tr
							td Контрольная панель 
							td.check-icon.check-icon_add
							td 1 шт.
						tr
							td Бесплатная установка
							td.check-icon.check-icon_cancel
							td
						tr
							td Экипаж ЧОП
							td
							td 3 000 руб.
						tr
							td Экипаж Росгвардия
							td
							td 3 000 руб.
				button.btn.btn_white Оставить заявку
			.tariffs-item
				h4.h4 Базовый
				table.tariffs-item__table
					tbody
						tr
							td Датчики движения
							td.check-icon.check-icon_add
							td 3 шт.
						tr
							td Датчики отрываия дверей
							td.check-icon.check-icon_add
							td 1 шт.
						tr
							td Контрольная панель 
							td.check-icon.check-icon_add
							td 1 шт.
						tr
							td Бесплатная установка
							td.check-icon.check-icon_cancel
							td
						tr
							td Экипаж ЧОП
							td
							td 3 000 руб.
						tr
							td Экипаж Росгвардия
							td
							td 3 000 руб.
				button.btn.btn_white Оставить заявку